
{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/goyalweb.html" %}


{% block title %}
{{ _("My Account") }}
{% endblock %}

{% block page_content %}


    <main class="tbofullwidth">
     
<div class="inner_ban"> 
        <div class="tbocontainer">
            <div class="tborow">
                <div class="l10 m10 s12 tbo">
                    <h2 class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"><span>Uncompromising Quality<br>at</span> The Most Competitive Price!</h2>
                </div>
            </div>
        </div>
        <img src="/assets/goyalapp/images/inner_ban1.jpg" alt="Coal" class="img_fw">
    </div>
<div class="cont_strip tbofullwidth">
        <div class="tbocontainer clearfix">
            <div class="tborow">
                <div class="l12 m12 s12 tbo">

                </div>
            </div>
        </div>        
    </div>

     <div class="inner_pg tbofullwidth">
     <div class="tbocontainer clearfix">
     <div class="tborow">
     
<div class="tbo l8 m7 s12">
                    <h2 class="inner_heading">Welcome to Goyal Group!</h2>
                    <p>Goyal Group, by virtue of its entrepreneurial skills, innovative strategies and seamless execution, is emerging as one of the fastest growing and leading private sector organisations in India. With a mere scrap trading activity since inception, We have turned out to be a versatile Global Company with presence in every core sector of the economy such as Steel, Coal, Foundry Solutions, Education etc, with reach and presence in every part of India.</p>
                    <p>Goyal Group is one of the leading integrated steel traders and one of the largest private sector trader of Pig Iron and Steam Coal in India. Ever since our inception, we have always looked at things differently. When the world saw possibilities, we saw opportunities. The companys strengths lie in its integrated process management, knowledge management and control systems. Its staff of highly skilled engineers, technicians and managers with specialised domain knowledge, ensure seamless supply chain management systems. As it rapidly forges ahead on all these fronts, GISNPL has successfully reinforced its position as market leader, while simultaneously making technological breakthroughs and setting even higher standards for itself.</p>
                    
                    <div class="inner_bslide">
                        <div class="owl-carousel owl-theme owl-loaded owl-drag" id="sbanner"> 
                            
                            
                            
							 
							 
							

                        <div class="owl-stage-outer"><div class="owl-stage" style="width: 9276px; transform: translate3d(-6184px, 0px, 0px); transition: all 0.25s ease 0s;"><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class="lazyload" data-src="imagesnew/inner_ban3.jpg" alt="TBO">
                                </a>
                            </div></div><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" ls-is-cached lazyloaded" data-src="imagesnew/inner_ban4.jpg" alt="TBO" src="./website_files/inner_ban4.jpg">
                                </a>
                            </div></div><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban5.jpg" alt="TBO" src="./website_files/inner_ban5.jpg">
                                </a>
                            </div></div><div class="owl-item" style="width: 773px;"><div class="item">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban1.jpg" alt="TBO" src="./website_files/inner_ban1.jpg">
                            </div></div><div class="owl-item" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban2.jpg" alt="TBO" src="./website_files/inner_ban2.jpg">
                                </a>
                            </div></div><div class="owl-item" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban6.jpg" alt="TBO" src="./website_files/inner_ban6.jpg">
                                </a>
                            </div></div><div class="owl-item" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban3.jpg" alt="TBO" src="./website_files/inner_ban3.jpg">
                                </a>
                            </div></div><div class="owl-item" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" lazyloaded" data-src="imagesnew/inner_ban4.jpg" alt="TBO" src="./website_files/inner_ban4.jpg">
                                </a>
                            </div></div><div class="owl-item active" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" ls-is-cached lazyloaded" data-src="imagesnew/inner_ban5.jpg" alt="TBO" src="./website_files/inner_ban5.jpg">
                                </a>
                            </div></div><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                    <img class=" ls-is-cached lazyloaded" data-src="imagesnew/inner_ban1.jpg" alt="TBO" src="./website_files/inner_ban1.jpg">
                            </div></div><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class=" ls-is-cached lazyloaded" data-src="imagesnew/inner_ban2.jpg" alt="TBO" src="./website_files/inner_ban2.jpg">
                                </a>
                            </div></div><div class="owl-item cloned" style="width: 773px;"><div class="item">
                                <a href="./Whitelabel_solutions.aspx#">
                                    <img class="lazyload" data-src="imagesnew/inner_ban6.jpg" alt="TBO">
                                </a>
                            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>

                    </div>
                </div>






            </div>
        </div>
    </main>
     

{% endblock %}