
{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/goyalweb.html" %}


{% block title %}
{{ _("My Account") }}
{% endblock %}
{% block page_content %}

<link rel='stylesheet' href='/assets/goyalapp/admin/style/style.css'></link>
<link rel='stylesheet' href='/assets/goyalapp/admin/style/MTMH.css'></link>
<link href='/assets/goyalapp/css/GAPI-ColorTheme.css' rel='stylesheet'></link>
<link href='/assets/goyalapp/css/GAPI-ThemeSite.css' rel='stylesheet'></link>
			<div class="wrapper">
				<div class="content-wrapper">
					<section class="content-header">
						<h1>View Markup</h1>
						<!-- <ol class="breadcrumb">
							<li><a href="" ng-click="navigateHome()"><i
									class="fa fa-dashboard"></i> Home</a></li>
							<li><a href="#">User</a></li>
							<li><a href="#">View All Users</a></li>
							<li class="active">View Markup</li>
						</ol> -->
					</section>
					<!-- Main content -->
					<section class="content">
						<div id="divLoading"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									
									<div class="box-header with-border">
									<div class="col-md-9">
										<div class="col-md-3">
											<input type="date" oninput="on_start_date_select()" name="start-date" id="start-date" class="form-control mt-3 col-md m-3">
										</div>
										<div class="col-md-3">
											<input type="date" name="end-date" id="end-date" class="form-control mt-3 col-md m-3">
										</div>
										<div class="col-md-3">
							                <button class="btn btn-primary form-control" style="margin-top: 10px;" id="fetch-button">{{ _("Fetch") }}</button>
										</div>
										<div class="col-md-3">
										</div>

									</div>
									<div class="col-md-3">
									</div>
								</div>
									
									<div class="box-body">
										<form class="form-horizontal">
											<div class="form-group">

												<div class="clearfix"></div>
												<div class="col-md-12">
													<div class="responsive-table table-container">
													<table id="example2"
														class="table table-bordered table-hover dataTable"
														role="grid" aria-describedby="example2_info">
														<thead>
															<tr role="row">
															<th colspan="1" rowspan="1" class="sorting"
														aria-controls="example2" aria-label="" tabindex="0">
														<label class="Airlines"><input
															id="checkAll" type="checkbox" ng-model="checkAll"
															ng-change="selectAll()"> <span
															class="checkmark"></span>
													</label>
													</th>
																<th width="8%" colspan="1" rowspan="1"
																	class="sorting_desc" aria-controls="example2"
																	aria-label="" aria-sort="descending" tabindex="0">Carrier</th>
																	<th width="8%" colspan="1" rowspan="1"
																	class="sorting_desc" aria-controls="example2"
																	aria-label="" aria-sort="descending" tabindex="0">Category</th>
																<th width="8%" colspan="1" rowspan="1"
																	class="sorting_desc" aria-controls="example2"
																	aria-label="" aria-sort="descending" tabindex="0">Service
																	Type</th>
																<th width="8%" colspan="1" rowspan="1"
																	class="sorting_desc" aria-controls="example2"
																	aria-label="" aria-sort="descending" tabindex="0">Base
																	Fare %</th>
																<th width="13%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">YQ
																	%</th>
																<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">Flat Markup</th>
																	<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">% Markup</th>
																	<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">Created On</th>
																	<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">Company</th>
																	<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">Status</th>
																	
																	<th width="10%" colspan="1" rowspan="1" class="sorting"
																	aria-controls="example2" aria-label="" tabindex="0">Select</th>

															</tr>
														<tbody>
															<tr role="row" class="even table-row"
																ng-repeat="markup in ctrl.markupList">
																<td data-label="Ticket No">
														<div class="input-group">
															<label class=" Airlines"> <input type="checkbox"
																ng-model="markup.selected"> <span
																class="checkmark"></span>
															</label>
														</div>
													</td>
																<td>1</td>
																<td>2</td>
																<td>3</td>
																<td>4</td>
																<td>5</td>
																<td>6</td>
																<td>7</td>
																<td>8</td>
																<td>9</td>
																<td>10</td>
																<td><div class="dropdown">
													<button class="dropbtn">Select</button>
													<div class="dropdown-content">
														<a href="" style="color: blue;"> Edit</a> 
													</div>
												</div> 
												</td>

															</tr>
															<!-- </c:forEach>    -->
														</tbody>
														<tfoot>

														</tfoot>
													</table>
													</div>
												</div>

											</div>

										</form>
									</div>
									<!-- /.box-body -->
									<div class="box-footer"></div>
									<!-- /.box-footer-->
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="control-sidebar-bg"></div>
			</div>

<script>
frappe.ready(async () => {
    initialise_select_date();
})

async function initialise_select_date() {
    setup_startdate_picker();
    hide_next_button();
}

function setup_startdate_picker() {
    let date_picker = document.getElementById('start-date');
	let date_picker1 = document.getElementById('end-date');
    date_picker1.disabled = true;
    let today = new Date();
    date_picker.max = today.toISOString().substr(0, 10);
    today.setDate(today.getDate() - 90);
    date_picker.min = today.toISOString().substr(0, 10);
}

function hide_next_button() {
    let next_button = document.getElementById('fetch-button');
    next_button.disabled = true;
    next_button.onclick = () => frappe.msgprint(__("Please select a date and time"));
}


function on_start_date_select() {
    let date_picker1 = document.getElementById('end-date');
    date_picker1.disabled = false;
   	let today = new Date();
    date_picker1.max = today.toISOString().substr(0, 10);
	today.setDate(date_picker.value.getDate());
   	date_picker1.min = today.toISOString().substr(0, 10);
   	frappe.throw(__('SG is HEREe'));
}

</script>


{% endblock %}