<!-- post login tools -->
{% if not only_static %}

	{% if frappe.session.user != 'Guest' %}
	<div class="profilesec" style="padding-top: 10px;">
        <div class="m-r-10" style="padding: 0px 5px;"><p class="tellipsis" style="margin-bottom: 0px;">{{ current_user.full_name }} <span>({{ current_user.username }})</span></p><p class="grey_clr" style="margin-bottom: 2px;margin-top: 2px;">{{ current_user.email }}</p></div>
        <div class="m-r-5"><img src="/assets/goyalapp/images/user-profile.svg" style="padding: 0px 5px;"></div>
        <img src="/assets/goyalapp/images/downArrow.svg" alt="Arrow">

        <div class="dropdown-menu3 ng-scope">
            <div class="booking_pnl">
			{%- for child in post_login -%}
			{%- if child.url -%}
                <a class="sb_link_2" href="{{ child.url | abs_url }}" {% if child.open_in_new_tab %} target="_blank" {% endif %} rel="nofollow"> <i class="sm_mg"></i> {{ child.label }}</a>

			{%- endif -%}
			{%- endfor -%}
			<a class="sb_link_2 switch-to-desk hidden" href="/app">{{ _('Switch To Desk') }}</a>
            </div>
        </div>
    </div>
	{% endif %}


	{% if frappe.session.user == 'Guest' %}

        <div class="cont_dtl">
          <i class="fa fa-sign-in"></i>
	    	<a href="/login">{{ _("E-Login") }}</a>
        </div>
	{% endif %}
{% endif %}