

    <!--Notification Box-->
    <div class="notificatioBx" id="notifBx">
        <div class="notihed"><span>Notifications</span><i class="noticount">5</i></div>
        <div class="inrpd12">
            <ul class="notilist">
                <li>
                    <p class="notitx">Robert Downey has assigned new query for holiday package</p>
                    <span class="notihr">2 hours ago</span>
                </li>
                <li>
                    <p class="notitx">Robert Downey has assigned new query for holiday package</p>
                    <span class="notihr">2 hours ago</span>
                </li>
                <li>
                    <p class="notitx">Robert Downey has assigned new query for holiday package</p>
                    <span class="notihr">2 hours ago</span>
                </li>
                <li>
                    <p class="notitx">Robert Downey has assigned new query for holiday package</p>
                    <span class="notihr">2 hours ago</span>
                </li>
            </ul>
        </div>
        <div class="vieallnoti">Mark as all read</div>
    </div>
    <!--Notification Box end-->

    
<header id="main-header" data-height-onload="94" data-height-loaded="true" data-fixed-height-onload="94" style="top: 0px;" class="tbo_header">
  <div class="tbocontainer clearfix">
    <div class="tborow">
      <div class="l3 m4 s9 tbo">
        <div class="tbo_logo">
          <a href="{{ url_prefix }}{{ home_page or "/" }}">
          {%- if brand_html -%}
          {{ brand_html }}
          {%- elif banner_image -%}
            <img src="{{ banner_image }}" alt="Goyal Group" title="Goyal Group">
          {%- else -%}
            <span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
          {%- endif -%}
          </a>
        </div>
      </div>
      <div class="l9 m8 s3 tbo">
        <a id="mob-menu"><i class="fa fa-bars"></i></a>
        {% include "templates/includes/gonavbar/gonavbar_login.html" %}
      </div>
    </div>
  </div>
       <nav class="tbo_nav tbofullwidth">

       <div class="tbocontainer pad_sixteen">
            <div class="mmenu_show">
                <ul class="menu_ul">
                    <li class="active"><a href="/index.html"><i class="fa fa-th-large"></i> Home</a></li>

    {% if frappe.session.user != 'Guest' %}
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i> Customer <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="/SaleBills">Sale Bills</a></li>
                            <li><a href="/DeliveryNote">Delivery Note</a></li>
                        </ul>
                    </li>
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i> Supplier <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="/SupplierBills">Supplier Bills</a></li>
                            <li><a href="/GoodsReceiptNote">Goods Receipt Note</a></li>
                        </ul>
                    </li>

    {% endif %}

    {% if frappe.session.user == 'Guest' %}
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i> About Us <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="/WhoWeAre">Who We Are</a></li>
                            <li><a href="/Leadership">Leadership Team</a></li>
                        </ul>
                    </li>
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-briefcase"></i> Business <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="/PigIron">Pig Iron</a></li>
                            <li><a href="/Scrap">Foundry Scrap</a></li>
                            <li><a href="/IndianCoal">Indian Steam Coal</a></li>
                            <li><a href="/ImportedCoal">Imported Steam Coal</a></li>
                            <li><a href="/Gotron">Gotron</a></li>
                        </ul>
                    </li>                    
                    <li><a href="/Media"><i class="fa fa-rss-square"></i> News & Media </a></li>
                    <li><a href="/Careers"><i class="fa fa-graduation-cap"></i> Careers</a></li>
                    <li><a href="./hoteliers.aspx"><i class="fa fa-shield"></i> Feedback</a></li>
    {% endif %}


                    <li><a href="https://goyalironsteel.com/tenders"><i class="fa fa-tasks"></i> E-Tenders</a></li>
                    <li><a href="https://mail.google.com/a/goyalironsteel.com"><i class="fa fa-envelope"></i> Web Mail</a></li>
                    <li><a href="/Contactus"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact Us</a></li>

                </ul>
            </div>
        </div>
       </nav>
    </header>