<header id="main-header" data-height-onload="94" data-height-loaded="true" data-fixed-height-onload="94" style="top: 0px;" class="tbo_header">
  <div class="tbocontainer clearfix">
    <div class="tborow">
      <div class="l3 m4 s9 tbo">
        <div class="tbo_logo">
          <a href="{{ url_prefix }}{{ home_page or "/" }}">
          {%- if brand_html -%}
          {{ brand_html }}
          {%- elif banner_image -%}
            <img src="{{ banner_image }}" alt="Goyal Group" title="Goyal Group">
          {%- else -%}
            <span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
          {%- endif -%}
          </a>
        </div>
      </div>
      <div class="l9 m8 s3 tbo">
        <a id="mob-menu"><i class="fa fa-bars"></i></a>
                <div class="cont_dtl">
                    <i class="fa fa-phone"></i>
                   <code><tt>Enquiry Helpdesk:</tt>  +91-87999-49170</code>
                </div>
            </div>
        </div>
       </div>
       <nav class="tbo_nav tbofullwidth">
       <div class="tbocontainer pad_sixteen">
            <div class="mmenu_show">
                <ul class="menu_ul">
                    <li class="active"><a href="/index.html"><i class="fa fa-th-large"></i> Home</a></li>
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-bars"></i> About Us <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="./Hotel_api.aspx">Who We Are</a></li>
                            <li><a href="./Flight_api.aspx">Leadership Team</a></li>
                        </ul>
                    </li>
                    <li class="mdropdown">
                        <a href="javascript:void(0)"><i class="fa fa-briefcase"></i> Business <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown_list">
                            <li><a href="./PigIron.php">Pig Iron</a></li>
                            <li><a href="./Scrap.php">Foundry Scrap</a></li>
                            <li><a href="./IndianCoal.php">Indian Steam Coal</a></li>
                            <li><a href="./ImportedCoal.php">Imported Steam Coal</a></li>
                            <li><a href="./Gotron.php">Gotron</a></li>
                        </ul>
                    </li>                    
                    <li><a href="./Whitelabel_solutions.aspx"><i class="fa fa-rss-square"></i> News & Media </a></li>
                    <li><a href="./hoteliers.aspx"><i class="fa fa-graduation-cap"></i> Careers</a></li>
                    <li><a href="https://goyalironsteel.com/tenders"><i class="fa fa-tasks"></i> E-Tenders</a></li>
                    <li><a href="./hoteliers.aspx"><i class="fa fa-shield"></i> Feedback</a></li>
                    <li><a href="https://mail.google.com/a/goyalironsteel.com"><i class="fa fa-envelope"></i> Web Mail</a></li>
                     <li><a href="./Contactus.htm"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact Us</a></li>
                </ul>
            </div>
        </div>
       </nav>
    </header>




<header id="main-header" data-height-onload="94" data-height-loaded="true" data-fixed-height-onload="94" style="top: 0px;" class="">
  <div class="container clearfix et_menu_container">


    <div id="et-top-navigation" data-height="66" data-fixed-height="40" style="padding-left: 240px;">
      <nav id="top-menu-nav">
{% macro render_item(item, submenu=False, parent=False) %}
{% if item.child_items %}

{% if parent %}

{%- set dropdown_id = 'id-' + frappe.utils.generate_hash(length=12) -%}
<li class="mdropdown {% if submenu %} dropdown-submenu {% endif %}">
  <a href="#" id="{{ dropdown_id }}">
    {{ _(item.label) }}
  </a>
    <ul class="sub-menu" aria-labelledby="{{ dropdown_id }}">
    {% for child in item.child_items %}
      {{ render_item(child, True) }}
    {% endfor %}
  </ul>
</li>
{% else %}
{%- set dropdown_id = 'id-' + frappe.utils.generate_hash(length=12) -%}
<li class="dropdown {% if submenu %} dropdown-submenu {% endif %}">
  <a class="dropdown-item dropdown-toggle" href="#" id="{{ dropdown_id }}" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ _(item.label) }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
    {% for child in item.child_items %}
      {{ render_item(child, True) }}
  {% endfor %}
  </ul>
</li>
{% endif %}

{% else %}

{% set url = item.url or '' %}
{% set url = url if url.startswith('#') else url | abs_url %}

{% if parent %}
<li class="menu-item menu-item-type-post_type menu-item-object-page">
  <a href="{{ url }}"
    {% if item.open_in_new_tab %} target="_blank" {% endif %}>
    {{ _(item.label) }}
  </a>
</li>
{% else %}
  <li class="menu-item menu-item-type-post_type menu-item-object-page">
    <a href="{{ url }}"
      {% if item.open_in_new_tab %} target="_blank" {% endif %}>
      {{ _(item.label) }}
    </a>
</li>

{% endif %}

{% endif %}
{% endmacro %}


          <ul id="top-menu" class="nav">
            {%- for item in top_bar_items -%}
              {% if not item.parent_label and not item.right -%}
                {{ render_item(item, parent=True) }}
              {%- endif -%}
            {%- endfor %}


  {% include "templates/includes/gonavbar/gonavbar_login.html" %}


</ul>           


</nav>
          
          <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>        </div> <!-- #et-top-navigation -->
      </div> <!-- .container -->







            </header> <!-- #main-header -->

