<header id="main-header" data-height-onload="94" data-height-loaded="true" data-fixed-height-onload="94" style="top: 0px;" class="">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
          <span class="logo_helper"></span>
        <a href="{{ url_prefix }}{{ home_page or "/" }}">
      {%- if brand_html -%}
        {{ brand_html }}
      {%- elif banner_image -%}
            <img src='{{ banner_image }}' alt="Goyal Xchange" id="logo" data-height-percentage="91" />
      {%- else -%}
        <span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
      {%- endif -%}
          </a>
    </div>

    <div id="et-top-navigation" data-height="66" data-fixed-height="40" style="padding-left: 240px;">
      <nav id="top-menu-nav">
{% macro render_item(item, submenu=False, parent=False) %}
{% if item.child_items %}

{% if parent %}

{%- set dropdown_id = 'id-' + frappe.utils.generate_hash(length=12) -%}
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children {% if submenu %} dropdown-submenu {% endif %}">
  <a href="#" id="{{ dropdown_id }}">
    {{ _(item.label) }}
  </a>
    <ul class="sub-menu" aria-labelledby="{{ dropdown_id }}">
    {% for child in item.child_items %}
      {{ render_item(child, True) }}
    {% endfor %}
  </ul>
</li>
{% else %}
{%- set dropdown_id = 'id-' + frappe.utils.generate_hash(length=12) -%}
<li class="dropdown {% if submenu %} dropdown-submenu {% endif %}">
  <a class="dropdown-item dropdown-toggle" href="#" id="{{ dropdown_id }}" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ _(item.label) }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
    {% for child in item.child_items %}
      {{ render_item(child, True) }}
  {% endfor %}
  </ul>
</li>
{% endif %}

{% else %}

{% set url = item.url or '' %}
{% set url = url if url.startswith('#') else url | abs_url %}

{% if parent %}
<li class="menu-item menu-item-type-post_type menu-item-object-page">
  <a href="{{ url }}"
    {% if item.open_in_new_tab %} target="_blank" {% endif %}>
    {{ _(item.label) }}
  </a>
</li>
{% else %}
  <li class="menu-item menu-item-type-post_type menu-item-object-page">
    <a href="{{ url }}"
      {% if item.open_in_new_tab %} target="_blank" {% endif %}>
      {{ _(item.label) }}
    </a>
</li>

{% endif %}

{% endif %}
{% endmacro %}


          <ul id="top-menu" class="nav">
            {%- for item in top_bar_items -%}
              {% if not item.parent_label and not item.right -%}
                {{ render_item(item, parent=True) }}
              {%- endif -%}
            {%- endfor %}


<!-- post login tools -->
{% if not only_static %}

  {% if frappe.session.user != 'Guest' %}
  <li class="nav-item dropdown logged-in" id="website-post-login" data-label="website-post-login" style="display: none">
    <a href="#" class="nav-link nav-avatar" data-toggle="dropdown">
      <span class="user-image-wrapper"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      {%- for child in post_login -%}
      {%- if child.url -%}
      <a class="dropdown-item" href="{{ child.url | abs_url }}"  {% if child.open_in_new_tab %} target="_blank" {% endif %} rel="nofollow">
        {{ child.label }}
      </a>
      {%- endif -%}
      {%- endfor -%}
      <a class="dropdown-item switch-to-desk hidden" href="/app">{{ _('Switch To Desk') }}</a>
    </ul>
  </li>
  {% endif %}

  {% if not hide_login %}
  <li class="nav-item">
    <a class="nav-link btn-login-area" href="/login">{{ _("Login") }}</a>
  </li>
  {% endif %}
{% endif %}

            <li id="menu-item-154" class="btn01 sg-popup-id-543 menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="#">Request a Quote</a></li>
</ul>           


</nav>
          
          <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>        </div> <!-- #et-top-navigation -->
      </div> <!-- .container -->







            </header> <!-- #main-header -->

