<header class="header">
    <div class="page-brand brandexceptmainmenu">
        <ul class="nav navbar-toolbar">
            <li>
                <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
            </li>
        </ul>
    </div>

    <div class="flexbox flex-1">
        <a class="link form-inline brandlink p-0" href="#">
            {%- if brand_html -%}
            {{ brand_html }}
            {%- elif banner_image -%}

            <img src="{{ banner_image }}" alt="Goyal Group" style="border-width:0px;">
                <p class="logobrand">
                                Goyal Group 
                            <br>
                                <span class="brand-tip">Goyal Xchange Portal</span>
                            </p>
          {%- else -%}
            <span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
          {%- endif -%}
                            
        </a>

                        <!-- START TOP-RIGHT TOOLBAR-->
        <ul class="nav navbar-toolbar p-0">
            <li class="dropdown dropdown-user">
                                <a class="nav-link dropdown-toggle link p-0" data-toggle="dropdown">
                                    <img src="https://docs.ewaybillgst.gov.in/assets/img/admin-avatar.png" alt="Profile" style="border-width:0px;">
                                    </a><ul class="dropdown-menu dropdown-menu-right"><a class="nav-link dropdown-toggle link p-0" data-toggle="dropdown">
                                        </a><a class="dropdown-item" data-toggle="modal" data-target="#profile"><i class="fa fa-user"></i>Profile</a>
                                        <li class="dropdown-divider"></li>
                                        <a id="ctl00_headercont_LinkButton1" class="dropdown-item" href="javascript:__doPostBack('ctl00$headercont$LinkButton1','')"><i class="fa fa-power-off"></i>Logout</a>
                                    </ul>
            </li>
        </ul>

                        <!-- END TOP-RIGHT TOOLBAR-->
    </div>

</header>
                
<div id="ctl00_headercont_headerbottom" class="container-fluid modultitle" style="width: 100%;">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <ul class="nav navbar-nav navbarmodultitle" style="display:inline">
                <li class="mr-2"><a id="ctl00_headercont_lnk_home" href="mainmenu.aspx"><i class="fa fa-home"></i></a></li>
                <li><a id="ctl00_headercont_lnk_eInv" class="btn btn-sm btn-info py-0" href="eInvoiceRedirect.aspx"><i class="fa fa-globe"></i><span class="font-14"> e-Invoice Portal</span></a></li>
            </ul>
        </div>

                        <div class="col-6 col-sm-6 col-md-5 col-lg-6 p-0 m-auto text-center">
                            <span id="ctl00_headercont_user_log_details" class="userlogdetails">GSTIN :27AAACG7196G1ZD - Name : GOYAL IRON  STEEL NAGPUR PVT LTD - User : Tax Payer</span>
                        </div>

                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 text-right">
                            <ul class="nav navbar-nav navbarmodultitle float-right" style="display: inline">
                                <li class="dropdown pr-3">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-question-circle"></i></a>
                                    <ul class="dropdown-menu helpsection">
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Generating EWB.pdf" target="_blank" rel="noopener noreferrer">Generating EWB</a></li>
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Generating CEWB.pdf" target="_blank" rel="noopener noreferrer">Generating CEWB</a></li>
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Modes of EWB generation.pdf" target="_blank" rel="noopener noreferrer">Modes of EWB generation</a></li>
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Rejecting EWB.pdf" target="_blank" rel="noopener noreferrer">Rejecting EWB</a></li>
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Managing Users.pdf" target="_blank" rel="noopener noreferrer">Managing Users</a></li>
                                        <li><a href="https://docs.ewaybillgst.gov.in/Documents/Managing Masters.pdf" target="_blank" rel="noopener noreferrer">Managing Masters</a></li>
                                    </ul>
                                </li>
                                <li style="display: none"><a href="#" class="glyphicon glyphicon-phone-alt" data-toggle="modal" data-target="#contact"><i class="fa fa-phone"></i></a></li>
                                <li>
                                    <a id="ctl00_headercont_lnk_Signout" href="javascript:__doPostBack(&#39;ctl00$headercont$lnk_Signout&#39;,&#39;&#39;)"><i class="fa fa-sign-out"></i></a></li>
                            </ul>
                        </div>
    </div>
</div>

            

            
    <style type="text/css">
        .brandexceptmainmenu {
            display: block !important;
        }
    </style>



