{% if head_html is defined -%}
{{ head_html or "" }}
{%- endif %}

{%- if theme.name != 'Standard' -%}
<link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
{%- else -%}
{{ include_style('website.bundle.css') }}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/assets/goyalapp/img/favicon.ico" type="image/x-icon">

    <meta name="description"
    content="Goyal Group, by virtue of its entrepreneurial skills, innovative strategies and seamless execution, is emerging as one of the fastest growing and leading private sector organisations in India" />
    <meta name="keywords"
    content="Steam Coal, Indian Coal, Pig Iron, MS Scrap, End Cutting, Fish Cutting, Gotron, Foundry Solutions, Cental India, Nagpur, Mines, Turbines, Power Plant, Indian Coal, GCV, GAR, Indonesia, port" />
    <meta name="author" content="Goyal Group" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/goyalapp/js/mobjquery.min.js"></script>
    <link href="/assets/goyalapp/css/new-b2b-common.css?v=nj69691" rel="stylesheet" />
    <link href="/assets/goyalapp/css/stylecrm.css?v=23608" rel="stylesheet" />
    <link href="/assets/goyalapp/css/ui.jqgrid.css?v=469559" rel="stylesheet" type="text/css" />
    <link href="/assets/goyalapp/css/grid.css" rel="stylesheet" type="text/css" />
    <script src="/assets/goyalapp/js/angular-sanitize-1.8.2.js?v=637735510010180381"></script>

{%- endif -%}
