{% if head_html is defined -%}
{{ head_html or "" }}
{%- endif %}

    <link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/assets/goyalapp/img/favicon.ico" type="image/x-icon">

    <link href="/assets/goyalapp/css/grid.css" rel="stylesheet" type="text/css">
    <link href="/assets/goyalapp/css/StaticPageStyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/goyalapp/css/animate.min.css" rel="stylesheet" type="text/css">


    <meta name="description"
    content="Goyal Group, by virtue of its entrepreneurial skills, innovative strategies and seamless execution, is emerging as one of the fastest growing and leading private sector organisations in India" />
    <meta name="keywords"
    content="Steam Coal, Indian Coal, Pig Iron, MS Scrap, End Cutting, Fish Cutting, Gotron, Foundry Solutions, Cental India, Nagpur, Mines, Turbines, Power Plant, Indian Coal, GCV, GAR, Indonesia, port" />
    <meta name="author" content="Goyal Group" />

{%- endif -%}
