<link rel="stylesheet" href="/assets/goyalapp/css/refactorHeaderWithMenu.css" />


    <div class="siteNavbar" id="styleHome">
      <div
        class="navbar navbar-expand-md header-bg hide-mobile-view"
        role="navigation"
        style="min-height: unset; padding: 5px 0"
      >
        <div class="container">
          <div class="top-header-item">
            <div class="balance-details">
              <div class="balance due">
                <span>CASH BALANCE</span>
                <span
                  ><i class="fa fa-inr icons"></i>
                  87687.9</span
                >
              </div>
              <div class="balance limit" title="CREDIT BALANCE 8979.99 ">
                <span>BALANCE</span>
                <span
                  ><i class="fa fa-inr icons"></i>
                  454.00</span
                >
                <span>12/05/2022</span>
              </div>

            </div>

            <div class="Utility">
              <div class="remain-time item-list">
                <span id="countTime"></span>
              </div>
              <div class="print item-list">
                <span class="fa-printer icon-image"
                  ><a href="" class="hidePrefs"
                    ><i class="fa fa-inr icons" style="color: #fff"></i
                    >&nbsp;</a
                  ></span
                >
              </div>

              <div class="wallet item-list">
                <a href="#/walletRecharge" style="display: flex">
                  <span class="fa-wallet icon-image"
                    ><img src="/assets/goyalapp/images/wallet-filled-money-tool.svg"
                  /></span>
                  <span style="margin-left: 5px">Recharge</span></a
                >
              </div>
            </div>

            <div class="Customer-support">
              <div class="fa-Customersupport icon-image">
                <img src="static/images/customer-service.svg" />
              </div>
              <div class="support-no">
                <span class="title"
                  ><a href="tel:+91 9764999444">
                    +91 9764999444</a
                  ></span
                >
              </div>

              <div class="support-info">
                <div class="divinfo">
                  <div>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> Mobile
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <div class="divinfo">
                  <div>
                    <i class="fa fa-phone" aria-hidden="true"></i> Helpline no
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <hr />
                <div class="divinfo">
                  <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us
                  </div>
                  <div>admin@goyalironsteel.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-navbar customNavbar displayNone">
        <div class="container">
          <img ng-src="{{myCroppedImage}}" />
          <a href="#/welcome" class="navbar-brand is-img"
            ><img src="static/images/logo.png" /></a>

          <div
            class="navbar navbar-default navbar-fixed-top hide-mobile-view"
            role="navigation"
          >
            <div class="container">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item">
                    <span
                      ><i class="fa fa-tachometer" aria-hidden="true"></i>
                    </span>
                    <span>
                      <a href="#/dashboard">Dashboard</a>
                    </span>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link user-login-details dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="user-icon">
                        <span class="lnr lnr-user"></span>
                      </div>
                      <div class="user-login-details">
                        <span class="username"
                          >{{current_user.full_name }}
                          <span class="lnr lnr-chevron-down"> </span>
                        </span>
                       <span class="companyid">{{current_user.full_name }} (Goyal Iron)</span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown4">
                      <li class="">
                        <a href="/update-profile/{{ user }}"
                          ><span class="lnr lnr-user"></span> Profile</a
                        >
                      </li>
                      <li class="">
                        <a href="/update-password">
                          <span class="lnr lnr-power-switch"> </span> Logout
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="nav navbar-nav">
                  <li>
                    <a href="#/MenuA"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      >Menu1
                      <span class="lnr lnr-chevron-down"> </span
                    ></a>
                    <ul class="dropdown-menu multi-level">
                      <li class="">
                        <a
                          href="#/Menu2"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          >MenuB
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#/Menu3">Menu C</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>

      <div class="device-view-header">
        <div class="top-navbar">
          <div class="device-menu-icon" onclick="openNav()">
            <span class="lnr lnr-menu"></span>
          </div>
          <div class="device-logo">
            <a href="#/welcome" class="navbar-brand is-img"
              ><img src="/assets/goyalapp/images/logo.png"
            /></a>
          </div>
          <div class="device-customer-support" style="display: none">
            <div class="Customer-support">
              <div class="fa-Customersupport icon-image">
                <img src="/assets/goyalapp/images/customer-service.svg" />
              </div>
              <div class="support-no">
                <span class="title">Customer Support</span>
                <span class="title"
                  ><a href="tel:+91 9764999444">
                    +91 9764999444</a
                  ></span
                >
              </div>

              <div class="support-info">
                <div class="divinfo">
                  <div>
                    <i class="fa fa-phone" aria-hidden="true"></i> Helpline no
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <div class="divinfo">
                  <div>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> Mobile
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <hr />
                <div class="divinfo">
                  <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us
                  </div>
                  <div>admin@goyalironsteel.com</div>
                </div>
              </div>
            </div>
          </div>
          <div class="device-customer-info">
            <div
              class="show-balance-icon header-icon"
              data-toggle="modal"
              data-target="#showMybalance"
            >
              <i class="fa fa-inr icons"></i>
            </div>

          </div>
        </div>
      </div>
    </div>