      <header id="main-header" data-height-onload="66">
      <div class="container clearfix et_menu_container">
              <div class="logo_container">
          <span class="logo_helper"></span>
          <a href="https://promantia.in/">
            <img src="https://erp.goyalironsteel.com/files/Glogo.png" alt="Promantia Business Solutions Pvt. Ltd." id="logo" data-height-percentage="91" />
          </a>
        </div>
              <div id="et-top-navigation" data-height="66" data-fixed-height="40">
                      <nav id="top-menu-nav">
            <ul id="top-menu" class="nav"><li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-133"><a href="https://promantia.in/" aria-current="page">Home</a></li>
<li id="menu-item-149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-149"><a href="#">Solutions</a>
<ul class="sub-menu">
  <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="https://promantia.in/openbravo/">Openbravo</a></li>
  <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a href="https://promantia.in/erpnext/">ERPNext</a></li>
  <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="https://promantia.in/prestashop/">Prestashop</a></li>
  <li id="menu-item-1555" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="https://promantia.in/etendo/">Etendo</a></li>
  <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="https://promantia.in/aws-cloud/">AWS Cloud</a></li>
</ul>
</li>
<li id="menu-item-445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-445"><a href="#">Services</a>
<ul class="sub-menu">
  <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="https://promantia.in/business-consulting/">Business Consulting</a></li>
  <li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="https://promantia.in/erp-implementation/">ERP Implementation</a></li>
  <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="https://promantia.in/e-commerce-solutions/">E-commerce Solutions</a></li>
  <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="https://promantia.in/product-development/">Product Development</a></li>
</ul>
</li>
<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="https://promantia.in/case-studies/">Case Studies</a></li>
<li id="menu-item-382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382"><a href="https://promantia.in/insights/">Insights</a></li>
<li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a href="https://promantia.in/about/">About</a></li>
<li id="menu-item-569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-569"><a href="https://promantia.in/career/">Career</a></li>
<li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381"><a href="https://promantia.in/contact/">Contact</a></li>
<li id="menu-item-154" class="btn01 sg-popup-id-543 menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="#">Request a Quote</a></li>
</ul>           </nav>
          
          
          
          
          <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>        </div> <!-- #et-top-navigation -->
      </div> <!-- .container -->


<link rel="stylesheet" href="/assets/goyalapp/css/refactorHeaderWithMenu.css" />


    <div class="siteNavbar" id="styleHome">
      <div
        class="navbar navbar-expand-md header-bg hide-mobile-view"
        role="navigation"
        style="min-height: unset; padding: 5px 0"
      >
        <div class="">
          <div class="top-header-item">
            <div class="Utility">
              <div class="wallet item-list" ng-if="loggedInUser">
                <a href="" style="display: flex">
                  <span style="margin-left: 5px">Goyal Xchange Portal</span></a
                >
              </div>
            </div>

            <div class="Customer-support">
              <div class="fa-Customersupport icon-image">
                <img src="static/images/customer-service.svg" />
              </div>
              <div class="support-no">
                <!-- <span class="title">Customer Support</span> -->
                <span class="title"
                  ><a href="tel:+918799949170">
                    +91 8799949170</a
                  ></span
                >
              </div>

              <div class="support-info">
                <div class="divinfo">
                  <div>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> Mobile
                  </div>
                  <div>+91 8799949170</div>
                </div>
                <div class="divinfo">
                  <div>
                    <i class="fa fa-phone" aria-hidden="true"></i> Helpline no
                  </div>
                  <div>+91 2527749 / 50</div>
                </div>
                <hr />
                <div class="divinfo">
                  <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us
                  </div>
                  <div> admin@goyalironsteel.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-navbar customNavbar displayNone">
        <div class="container">
          <img ng-src="{{myCroppedImage}}" />
          <a href="#/welcome" class="navbar-brand is-img"
            ><img src="static/images/logo.png" /></a>

          <div
            class="navbar navbar-default navbar-fixed-top hide-mobile-view"
            role="navigation"
          >
            <div class="container">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item">
                    <span
                      ><i class="fa fa-tachometer" aria-hidden="true"></i>
                    </span>
                    <span>
                      <a href="#/dashboard">Dashboard</a>
                    </span>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link user-login-details dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="user-icon">
                        <span class="lnr lnr-user"></span>
                      </div>
                    {% if frappe.user != 'Guest' %}
                      <div class="user-login-details">
                        <span class="username"
                          >{{current_user.full_name }}
                          <span class="lnr lnr-chevron-down"> </span>
                        </span>
                       <span class="companyid">{{current_user.full_name }} (Goyal Iron)</span>
                      </div>
                    {% endif %}

                    </a>
                    {% if frappe.user != 'Guest' %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown4">
                      <li class="">
                        <a href="/update-profile/{{ user }}"
                          ><span class="lnr lnr-user"></span> Profile</a
                        >
                      </li>
                      <li class="">
                        <a href="/update-password">
                          <span class="lnr lnr-power-switch"> </span> Logout
                        </a>
                      </li>
                    </ul>
                    {% endif %}
                  </li>
                </ul>

                <ul class="nav navbar-nav">
                  <li>
                    <a href="#/MenuA"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      >Menu1
                      <span class="lnr lnr-chevron-down"> </span
                    ></a>
                    <ul class="dropdown-menu multi-level">
                      <li class="">
                        <a
                          href="#/Menu2"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          >MenuB
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#/Menu3">Menu C</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>

      <div class="device-view-header">
        <div class="top-navbar">
          <div class="device-menu-icon" onclick="openNav()">
            <span class="lnr lnr-menu"></span>
          </div>
          <div class="device-logo">
            <a href="#/welcome" class="navbar-brand is-img"
              ><img src="/assets/goyalapp/images/logo.png"
            /></a>
          </div>
          <div class="device-customer-support" style="display: none">
            <div class="Customer-support">
              <div class="fa-Customersupport icon-image">
                <img src="/assets/goyalapp/images/customer-service.svg" />
              </div>
              <div class="support-no">
                <span class="title">Customer Support</span>
                <span class="title"
                  ><a href="tel:+91 9764999444">
                    +91 9764999444</a
                  ></span
                >
              </div>

              <div class="support-info">
                <div class="divinfo">
                  <div>
                    <i class="fa fa-phone" aria-hidden="true"></i> Helpline no
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <div class="divinfo">
                  <div>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> Mobile
                  </div>
                  <div>+91 9764999444</div>
                </div>
                <hr />
                <div class="divinfo">
                  <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us
                  </div>
                  <div>admin@goyalironsteel.com</div>
                </div>
              </div>
            </div>
          </div>
          <div class="device-customer-info">
            <div
              class="show-balance-icon header-icon"
              data-toggle="modal"
              data-target="#showMybalance"
            >
              <i class="fa fa-inr icons"></i>
            </div>

          </div>
        </div>
      </div>
    </div>