{% macro render_sidebar_item(item) %}
<li class="sides {{ 'active' if pathname == item_route else '' }}"
		{% if item.target %}target="{{ item.target }}" {% endif %}">
	{%- if item.group_title -%}

	<h6>{{ item.group_title }}</h6>
	{{ render_sidebar_items(item.group_items) }}

	{%- else -%}

	{% if item.type != 'input' %}
	{%- set item_route = item.route[1:] if item.route[0] == '/' else item.route -%}
	<a href="{{ item.route }}" class="{{ 'active' if pathname == item_route else '' }}"
		{% if item.target %}target="{{ item.target }}" {% endif %}>
		{{ _(item.title or item.label) }}
	</a>
	{% else %}
	<form action='{{ item.route }}' class="mr-4">
		<input name='q' class='form-control' type='text' style="outline: none"
			placeholder="{{ _(item.title or item.label) }}">
	</form>
	{% endif %}

	{%- endif -%}
</li>
{% endmacro %}

{% macro render_sidebar_items(items) %}
{%- if items | len > 0 -%}
	{% for item in items -%}
	{{ render_sidebar_item(item) }}
	{%- endfor %}
{%- endif -%}
{% endmacro %}

{% macro my_account() %}
{% if frappe.user != 'Guest' %}
	<li class="{{ 'active' if pathname == item_route else '' }}">
		<a href="/me">{{ _("My Account") }}</a>
	</li>
	<li class="{{ 'active' if pathname == item_route else '' }}">
		<a href="/saleslist">{{ _("SG Test Account") }}</a>
	</li>
{% endif %}
{% endmacro %}

<section class="sidebar" style="height: auto;">
    <div class="user-panel">
        <div class="pull-left image">
                <img src="https://www.morningsunit.com/product/qbill/uploads/users/982b60ef4840965cdc5113526e7087e4a5cfdfe512cb73d545206ee0d9500007c444f160a6d54139064c5f62a2b943c866fbce68e6380a31a4c47874315677f5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
                <p>{{ frappe.user }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
	{% if sidebar_title %}
	<li class="title">
		{{ sidebar_title }}
	</li>
	{% endif %}
<ul class="sidebar-menu tree" data-widget="tree">
		{{ render_sidebar_items(sidebar_items) }}
		{{ my_account() }}
</ul>


</section>

<script>
	frappe.ready(function () {
		$('.sides a').each(function (index) {
			const active_class = 'active'
			const non_active_class = ''
			let page_href = window.location.href;
			if (page_href.indexOf('#') !== -1) {
				page_href = page_href.slice(0, page_href.indexOf('#'));
			}
			if (this.href.trim() == page_href) {
				$(this).removeClass(non_active_class).addClass(active_class);
			} else {
				$(this).removeClass(active_class).addClass(non_active_class);
			}
		});

		// scroll the active sidebar item into view
		let active_sidebar_item = $('.sides a.active');
		if (active_sidebar_item.length > 0) {
			active_sidebar_item.get(0)
				.scrollIntoView({behavior: "auto", block: "center", inline: "nearest"});
		}
	});
</script>
