{% macro render_sidebar_item(item) %}
<li class="{{ 'sidebar-group' if item.group_title else 'side-item' }}">
	{%- if item.group_title -%}

	<h6>{{ item.group_title }}</h6>
	{{ render_sidebar_items(item.group_items) }}

	{%- else -%}

	{% if item.type != 'input' %}
	{%- set item_route = item.route[1:] if item.route[0] == '/' else item.route -%}
	<a href="{{ item.route }}" class="{{ 'active' if pathname == item_route else '' }}"
		{% if item.target %}target="{{ item.target }}" {% endif %}>
		{{ _(item.title or item.label) }}
	</a>
	{% else %}
	<form action='{{ item.route }}' class="mr-4">
		<input name='q' class='form-control' type='text' style="outline: none"
			placeholder="{{ _(item.title or item.label) }}">
	</form>
	{% endif %}

	{%- endif -%}
</li>
{% endmacro %}

{% macro render_sidebar_items(items) %}
{%- if items | len > 0 -%}
<ul id="menu-content" class="sidebar-menu">
		{{ my_account() }}
</ul>
{%- endif -%}
{% endmacro %}

{% macro my_account() %}
{% if frappe.user != 'Guest' %}
<li class="'active' if data-path =='index'">
                            <a href="/agents/Home/index">
                                <img src="/agents/Content/assets/dist/img/dashboard-ico.svg" alt=""><span>Dashboard</span>
                                <span class="pull-right-container">
                                </span>
                            </a>
</li>
<li class="treeview">
    <a href="#">
        <img src="/agents/Content/assets/dist/img/admin-ico.svg" alt=""><span>Admin</span>
            <span class="pull-right-container">
                <img src="/agents/Content/assets/dist/img/chevron-right.svg" width="6">
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/agents/SaveCard/SaveCard">SaveCard</a></li>
        <li><a href="/agents/MarkUp/AfterBooking">Add MarkUp After Booking</a></li>
                                        <li><a href="/agents/CreateUser/CreateUser">Create User</a></li>
                                        <li><a href="/agents/UpdateProfile/UpdateProfile">Account Information</a></li>
                                        <li><a href="/agents/Markup">Set Markup</a></li>
                                        <li><a href="/agents/CommisionDetail/CommisionDetail">Show Commision Detail</a></li>
    </ul>
</li>
{% endif %}
{% endmacro %}

<div class="sidebar">
	{% if sidebar_title %}
	<li class="title">
		{{ sidebar_title }}
	</li>
	{% endif %}
    <div class="menu-list">
		{{ render_sidebar_items(sidebar_items) }}
	</div>
</div>

<script>
	frappe.ready(function () {
		$('.side-item a').each(function (index) {
			const active_class = 'active'
			const non_active_class = ''
			let page_href = window.location.href;
			if (page_href.indexOf('#') !== -1) {
				page_href = page_href.slice(0, page_href.indexOf('#'));
			}
			if (this.href.trim() == page_href) {
				$(this).removeClass(non_active_class).addClass(active_class);
			} else {
				$(this).removeClass(active_class).addClass(non_active_class);
			}
		});

		// scroll the active sidebar item into view
		let active_sidebar_item = $('.side-item a.active');
		if (active_sidebar_item.length > 0) {
			active_sidebar_item.get(0)
				.scrollIntoView({behavior: "auto", block: "center", inline: "nearest"});
		}
	});
</script>