{% macro render_sidebar_item(item) %}
<li class="{{ 'sidebar-group' if item.group_title else 'side-item' }}">
	{%- if item.group_title -%}

	<h6>{{ item.group_title }}</h6>
	{{ render_sidebar_items(item.group_items) }}

	{%- else -%}

	{% if item.type != 'input' %}
	{%- set item_route = item.route[1:] if item.route[0] == '/' else item.route -%}
	<a href="{{ item.route }}" class="{{ 'active' if pathname == item_route else '' }}"
		{% if item.target %}target="{{ item.target }}" {% endif %}>
		{{ _(item.title or item.label) }}
	</a>
	{% else %}
	<form action='{{ item.route }}' class="mr-4">
		<input name='q' class='form-control' type='text' style="outline: none"
			placeholder="{{ _(item.title or item.label) }}">
	</form>
	{% endif %}

	{%- endif -%}
</li>
{% endmacro %}

{% macro render_sidebar_items(items) %}
{%- if items | len > 0 -%}
<ul id="menu-content" class="sidebar-menu">
		{{ my_account() }}
</ul>
{%- endif -%}
{% endmacro %}

{% macro my_account() %}
{% if frappe.user != 'Guest' %}

<li id="ctl00_ContentPlaceHolder1_R30" class="'active' if data-path =='dashboard'">
    <a href="/dashboard">
    	<i class="sidebar-item-icon fa fa-ban"></i>
        <span class="nav-label">Dashboard</span>
    </a>
</li>
<li id="ctl00_ContentPlaceHolder1_R30" class="'active' if data-path =='CustomerBills'">
    <a href="/CustomerBills">
    	<i class="sidebar-item-icon fa fa-ban"></i>
        <span class="nav-label">Customer Bills</span>
    </a>
</li>
<li id="ctl00_ContentPlaceHolder1_R30" class="'active' if data-path =='CustomerDelivery'">
    <a href="/CustomerDelivery">
    	<i class="sidebar-item-icon fa fa-ban"></i>
        <span class="nav-label">Delivery Notes</span>
    </a>
</li>
<li id="ctl00_ContentPlaceHolder1_R30" class="'active' if data-path =='SupplierBills'">
    <a href="/SupplierBills">
    	<i class="sidebar-item-icon fa fa-ban"></i>
        <span class="nav-label">Supplier Bills</span>
    </a>
</li>
<li id="ctl00_ContentPlaceHolder1_R30" class="'active' if data-path =='SupplierGRN'">
    <a href="/SupplierGRN">
    	<i class="sidebar-item-icon fa fa-ban"></i>
        <span class="nav-label">Goods Receipt Note</span>
    </a>
</li>

{% endif %}
{% endmacro %}



<ul class="side-menu metismenu">
	{{ my_account() }}
</ul>

<script>
	frappe.ready(function () {
		$('.side-item a').each(function (index) {
			const active_class = 'active'
			const non_active_class = ''
			let page_href = window.location.href;
			if (page_href.indexOf('#') !== -1) {
				page_href = page_href.slice(0, page_href.indexOf('#'));
			}
			if (this.href.trim() == page_href) {
				$(this).removeClass(non_active_class).addClass(active_class);
			} else {
				$(this).removeClass(active_class).addClass(non_active_class);
			}
		});

		// scroll the active sidebar item into view
		let active_sidebar_item = $('.side-item a.active');
		if (active_sidebar_item.length > 0) {
			active_sidebar_item.get(0)
				.scrollIntoView({behavior: "auto", block: "center", inline: "nearest"});
		}
	});
</script>