.col-md-6.padding-LR0.mainDivright, .col-md-6.padding-LR0.mainDivleft{
    height: 1500;
}

@media (max-width:760px) {
.flt-seat{
margin-left: 10%;
}
#domesticroundtrip-page .flightrefundableAttr {
                  left: 1%;
       }
.domesticroundtrip-page #loggingTable {
                 margin-bottom: 150px;
                 margin-top: 100px;
            }
.mobile-round-filter{visibility: hidden;}



}

@media (min-width:768px) and (max-width:1200px)  {

HTML{ overflow-x: hidden;}

.navbar-right .dropdown-menu {
right: 100;
}

.dropdown-menu::before {right: 1; left: 132;}
.dropdown-menu::after{right:1; left: 132;}

}

@media (min-width:1024px){.tab-content>.active {
    overflow-y: auto;
}
}

@media (min-width:1024px) and (max-width:1200px){

#loggingTable {
margin-top: 55px;
margin-left: 40px;
}


.scroll {
 left: 3;
 top: 135;
}

#domesticroundtrip-page .topbarfilter {
                     left: 25%;
                     width: 74%;
             }
             .topbarfilterroundtrip {
                   margin-top: 120px !important;
                  }
                  #domesticroundtrip-page .dep-filter-airlines.filterduration {
                                                  margin-left: 2%;
                                              }
                   #domesticroundtrip-page .dep-filter-airlines.filterarrive {
                                                  margin-left: 0%;
                                             }
                   #domesticroundtrip-page .return-filter-airlines.filterduration {
                                                  margin-left: -1%;
                                             }
                   #domesticroundtrip-page .return-filter-airlines.filterarrive {
                                                  margin-left: 1%;
                                            }
                    #domesticroundtrip-page .dep-filter-airlines.filterdepart {
                                                   padding-left: 5
                                            }
                    #domesticroundtrip-page .return-filter-airlines.filterdepart {
                                                  margin-left: 10%;
                                            }
                    #domesticroundtrip-page .return-filter-airlines:first-child {
                                                  /* margin-left: 4%; */
                                                 padding-left: 25;
                                            }
                    .dep-filter-airlines:first-child {
                                                 padding-left: 25;

                                       }
                                }

@media (min-width:768px) and (max-width:1000px){
.bookbtn{
left: 120;
bottom: 60;
}
.scroll{top:190; width: 300; display:none;}

.leftmob-filter {
float: right;
display: flex;
justify-content: flex-end;
}

 .topbarfilter{display: none;}

 .mainDivright{
    left: 370;
    bottom: 380;
 }



}

footer {
display: none;
}


