/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}
.awesomplete .input-with-feedback {
    border: 1px solid var(--border-color);
}
.form-control {
    border: 1px solid var(--border-color);
}
.search-bar .awesomplete input {
    background-color: var(--bg-color)
}
.modal-backdrop{
    background-color: #2c436b !important;
}
.widget .widget-head .widget-title {
    font-size: var(--text-base);
}
.comment-box .comment-input-header, .form-dashboard-section .section-head, .form-section .section-head, .head-title {
    font-size: var(--text-base);
    font-weight: 600;
}
.comment-box .comment-input-container .ql-editor {
    border: 1px solid var(--border-color);
}
.duration-picker .duration-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

#top-header,#top-header #et-info,#top-header .container,#top-header .et-social-icon a {
    line-height: 1em
}

.et_fixed_nav.et_show_nav #page-container,.et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container {
    padding-top: 80px
}

.et_fixed_nav.et_show_nav.et_secondary_nav_enabled #page-container,.et_non_fixed_nav.et_transparent_nav.et_show_nav.et_secondary_nav_enabled #page-container {
    padding-top: 111px
}

.et_fixed_nav.et_show_nav.et_secondary_nav_enabled.et_header_style_centered #page-container,.et_non_fixed_nav.et_transparent_nav.et_show_nav.et_secondary_nav_enabled.et_header_style_centered #page-container {
    padding-top: 177px
}

.et_fixed_nav.et_show_nav.et_header_style_centered #page-container,.et_non_fixed_nav.et_transparent_nav.et_show_nav.et_header_style_centered #page-container {
    padding-top: 147px
}

.et_fixed_nav #top-header,.et_non_fixed_nav.et_transparent_nav #top-header {
    top: 0;
    right: 0;
    left: 0
}

.et_non_fixed_nav.et_transparent_nav #main-header,.et_non_fixed_nav.et_transparent_nav #top-header {
    position: absolute
}

.et_fixed_nav #main-header,.et_fixed_nav #top-header {
    position: fixed
}

.et_header_style_left #et-top-navigation,.et_header_style_split #et-top-navigation {
    padding-top: 33px
}

.et_header_style_left #et-top-navigation nav>ul>li>a,.et_header_style_split #et-top-navigation nav>ul>li>a {
    padding-bottom: 33px
}

.et_header_style_left .logo_container {
    position: absolute;
    width: 100%;
    height: 100%
}

.et_header_style_split #et-top-navigation nav>ul>li>a {
    z-index: 3
}

.et_header_style_split .centered-inline-logo-wrap {
    height: 66px;
    margin: -33px 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.et_header_style_split .centered-inline-logo-wrap .logo_container {
    height: 100%
}

.et_header_style_split .centered-inline-logo-wrap a {
    height: 100%
}

.et_header_style_split .logo_container {
    position: initial
}

.et_header_style_split #top-menu-nav {
    display: inline-block
}

.et_header_style_split #et_top_search {
    display: inline-block;
    float: none
}

.et_header_style_split.et_vertical_nav #et_top_search {
    display: block
}

.et_header_style_split #et_search_icon:before {
    margin-top: -9px
}

.et_header_style_left .mobile_menu_bar,.et_header_style_split .mobile_menu_bar {
    padding-bottom: 24px
}

.et_header_style_split #et-top-navigation {
    display: inline-block;
    float: none;
    position: relative;
    width: 100%;
    line-height: 1;
    text-align: center;
    vertical-align: middle
}

.et_header_style_split.et_vertical_nav #et-top-navigation {
    display: block
}

.et_header_style_split #main-header .container,.et_header_style_split #main-header .logo_container {
    z-index: 2;
    text-align: center
}

.et_header_style_split.et_vertical_nav #et-top-navigation {
    text-align: left
}

.et_header_style_split span.logo_helper {
    display: none
}

.et_header_style_split #top-menu,.et_header_style_split .fullwidth-menu,.et_header_style_split nav#top-menu-nav,.et_header_style_split nav.fullwidth-menu-nav {
    float: none
}

.safari.et_header_style_split #et-top-navigation {
    -webkit-transform: translate3d(0,0,0)
}

.et_header_style_centered #main-header .container {
    height: inherit;
    text-align: center
}

.et_header_style_centered.et_vertical_nav #main-header .container {
    height: auto
}

.et_header_style_centered #main-header div#et-top-navigation {
    position: relative;
    bottom: 0;
    width: 100%
}

.et_header_style_centered #et-top-navigation,.et_header_style_centered #logo,.et_header_style_centered #top-menu,.et_header_style_centered nav#top-menu-nav {
    float: none
}

.et_header_style_centered #logo {
    max-height: 64%
}

.et_header_style_centered #main-header .logo_container {
    height: 100px;
    padding: 0
}

.et_header_style_centered header#main-header.et-fixed-header .logo_container {
    height: 70px
}

.et_header_style_centered #et_top_search {
    display: inline-block!important;
    float: none
}

.et_header_style_centered #et_search_icon:before {
    top: -13px;
    left: 3px
}

.et_header_style_centered nav#top-menu-nav {
    display: inline-block
}

.et_header_style_centered #top-menu>li>a {
    padding-bottom: 2em
}

.et_header_style_centered #et-top-navigation .et-cart-info {
    float: none
}

.et_hide_search_icon #et_top_search,.et_hide_search_icon .et_slide_menu_top .et-search-form {
    display: none!important
}

.et_vertical_nav.et_header_style_centered #main-header .logo_container,.et_vertical_nav.et_header_style_centered header#main-header.et-fixed-header .logo_container {
    height: auto
}

.et_vertical_nav.et_header_style_centered header#main-header #top-menu>li>a,.et_vertical_nav.et_header_style_centered header#main-header.et-fixed-header #top-menu>li>a {
    padding-bottom: 19px
}

.et_vertical_nav.et_header_style_left #et-top-navigation,.et_vertical_nav.et_header_style_split #et-top-navigation {
    padding-top: 0
}

#logo {
    display: inline-block;
    float: none;
    max-height: 54%;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translate3d(0,0,0)
}

.et_pb_svg_logo #logo,.et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
    height: 54%
}

.logo_container {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

span.logo_helper {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.et_vertical_nav .logo_container {
    position: relative;
    height: auto;
    padding: 0
}

.et_vertical_nav span.logo_helper {
    display: none
}

#logo {
    display: inline-block;
    float: none;
    max-height: 54%;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translate3d(0,0,0)
}

.et_pb_svg_logo #logo,.et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
    height: 54%
}

.logo_container {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

span.logo_helper {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.et_vertical_nav .logo_container {
    position: relative;
    height: auto;
    padding: 0
}

.et_vertical_nav span.logo_helper {
    display: none
}
.control-label {
    font-weight: 500;
}
[data-theme="dark"] {
    --bg-color: var(--gray-900);
    --disabled-control-bg: var(--gray-900);
    --border-color: #1c2126;
    --margin-lg : 15px;
    --text-bold: 600;
    --scroll-bg: #161a1f;
    --scroll-color: #1c2126;
}

[data-theme="light"] {
    --bg-color: #f2f5fa;
    --text-bold: 600;
    --control-bg : #fff;
    --control-bg-on-gray: #d4dcea;
    --disabled-control-bg: #f2f5fa;
    --heading-color: #333;
    --border-color:#e3e8f1;
    --avatar-frame-bg: #dde2ea;
    --margin-lg: 15px;
    --sidebar-select-color: #d4dcea;
    --awesomplete-hover-bg: #d4dcea;
    --scroll-bg: #eef1f5;
    --scroll-color: #d9dfe6;
}


/*****  OVERRIDDEN CSS  *****/

/* Heading Text Color */
/*
.page-head{
    background: #7C7BAD !important;
    background: #7C7BAD !important;
}
.page-container{
    background: url(/web_responsive/static/src/css/../img/home-menu-bg-overlay.svg), linear-gradient(to bottom, #7C7BAD, #c3c2cc); !important;
    background-color: url(/web_responsive/static/src/css/../img/home-menu-bg-overlay.svg), linear-gradient(to bottom, #7C7BAD, #c3c2cc); !important;
}
h3.ellipsis.title-text,
.widget-group .widget-group-head .widget-group-title,
.layout-side-section .sidebar-label{
    color: white !important;
}

*/
/* Form Input Focus *//*

input:focus{
    border: 1px solid #7C7BAD !important;
}
.form-control:focus{
    box-shadow: 0 0 0 2px rgba(94, 108, 162, 0.25) !important;
}

*/
/* Div Padding *//*

.widget.widget-shadow.shortcut-widget-box{
    padding: 5px 10px;
}

*/
/* List Design *//*

.indicator-pill, .indicator-pill-right{
    padding: 7px 8px;
    height: unset;
}

*/
/* Collapse Div Padding *//*

.section-head.collapsed{
    padding: 2px 4px;
}

*/
/* Dropdown List Hover *//*

.awesomplete > ul > li:hover, .awesomplete > ul > li[aria-selected="true"]{
    background-color: #a492bf;
}*/






/* Global CSS */

/* Colours */
:root {
    --background-color: #36414c;
    --primary-color: #ffa00a;
    --secondary-color: #7574ff;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #888;

}
.btn-primary:active,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus{
    box-shadow: none !important;
}
.btn-primary{
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 0 !important;
}
.btn-primary:hover{
    background-color: rgba(255, 120, 10, 0.93) !important;
}
/* .btn-secondary{
    background-color: #606060 !important;
    color: var(--white-color) !important;
    border-radius: 0 !important;
    transition: background-color ease-in-out .15s;
}
.btn-secondary:hover{
    background-color: rgba(255, 120, 10, 0.93) !important;
} */
.page-head,
.page-head .page-head-content{
    height: 50px;
}
.page-head,
.page-head .page-head-content{
    top: 50px;
}



/* Top Header */
.navbar{
    background: var(--background-color) !important;
    height: 50px;
}
.navbar-expand{
    background-color: var(--background-color);
}
#navbar-breadcrumbs > li > a::before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    margin-right: .3em;
    display: inline-block;

    font-size: 24px;
    transition: 0.2s;
    position: relative;
    top: 3px;
    content: "\f105";
    margin-right: 10px;
    color: var(--white-color);
}
#navbar-breadcrumbs a{
    color: var(--white-color);
    text-decoration: none;
}
header .form-control{
    color: var(--white-color);
}
header .form-control:focus{
    border: 0;
}
.search-bar .awesomplete input{
    height: 32px;
}
/*#navbar-search{
    width: 300px;
    background-color: rgb(65, 78, 90);
    border-radius: 0px;
    color: #f9f9f9;
    border: none;
}*/
header ul#navbar-breadcrumbs{
    margin-top: -8px;
}
header .form-control:focus{
    background-color: var(--white-color) !important;
}



/* Sidebar */
.layout-side-section .sidebar-label{
    color: var(--primary-color);
}
.sidebar-label svg,
.layout-side-section .sidebar-label .icon{
    stroke: var(--primary-color);
}
.list-sidebar-button{
    background-color: #c8c4c4 !important;
    box-shadow: none !important;
}
.list-sidebar-button:active,
.list-sidebar-button:focus{
    text-decoration: none !important;
    box-shadow: none !important;
}


/* Input Fields */
input{
    border-radius: 0 !important;
}
.form-control{
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #f2f2f2 !important;
}
.form-control:focus{
    outline: 0;
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background: rgba(255, 160, 10, 0.14) !important;
}
.navbar .navbar-nav a.nav-link{
    color: var(--white-color);
}
span.notifications-seen use,
symbol#icon-small-down{
    fill: var(--white-color);
}


/* Table */
.form-grid{
    border-radius: 0;
    border: 1px solid #bbbbbb;
}
.form-grid .grid-heading-row{
    background-color: #f4f4f4;
}
.grid-heading-row{
    border-bottom: 1px solid var(--primary-color);
}
.grid-row > .row .col{
    border-right: 1px solid #d1d8dd;
}
.form-grid .grid-row:hover{
    background: rgba(255, 152, 0, 0.15);
}

/* Heading Color */
.head-title, .form-section .section-head, .form-dashboard-section .section-head, .comment-box .comment-input-header{
    color: var(--primary-color);
}

/* Lists */
.list-subject a{
    text-decoration: none;
    transition: 0.3s;
}
.list-subject a:hover{
    color: var(--secondary-color);
}


/* Report Table */
.datatable .dt-header .dt-cell--header .dt-cell__content{
    background-color: #f4f4f4;
}


/* Buttons CSS
.filter-button,
.sort-selector-button,
.btn-order{
    background-color: #ea7272 !important;
    color: var(--white-color) !important;
    transition: 0.3s;
    border-radius: 0 !important;
}
.filter-button:hover,
.sort-selector-button:hover,
.btn-order:hover{
    background-color: #c83b3b !important;
}
.filter-button span.filter-icon{
    color: var(--white-color);
}
.filter-button span.filter-icon svg.icon{
    stroke: var(--white-color);
} */

