* { box-sizing: border-box; }
.patb { padding-top: 10px; padding-bottom: 10px; }
.patb20 { padding-top: 20px; padding-bottom: 20px; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; /* ie 6/7 */ }
.relative { position: relative; }
.tbofleft { float: left; }
.tbofright { float: right; }
.tboleft { text-align: left; }
.tboright { text-align: right; }
.tbocenter { text-align: center; }
.tbocontainerfull {width: 100%; float: left; margin: 0 auto; background:#fff;}
.tbocontainer { width: 98%; margin: 0 auto; max-width:1200px; }
.tbofullwidth { width: 100%; float: left; }
.tborow { width: 100%; float: left; padding-left: 8px; padding-right: 8px; }
.tborowinner {width:100%; float:left;}
.tbo { float: left; padding: 0 8px; }
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12 { display: none; }
.m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12 { display: none; }
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { display: block; }
@media screen and (max-width: 767px) { .tbocontainer { width: 100%; }
  .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12 { display: block !important; }
  .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12 { display: none; }
  .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { display: none; }
  .s1 { width: 8.333%; }
  .s2 { width: 16.666%; }
  .s3 { width: 25%; }
  .s4 { width: 33.33%; }
  .s6 { width: 50%; }
  .s12 { width: 100%; }
  .s5 { width: 41.66%; }
  .s7 { width: 58.33%; }
  .s8 { width: 66.66%; }
  .s9 { width: 75%; }
  .s10 { width: 83.33%; }
  .s11 { width: 91.66%; } }
@media screen and (min-width: 768px) and (max-width: 991px) { .tbocontainer { width: 100%; }
  .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12 { display: none; }
  .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12 { display: block !important; }
  .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { display: none; }
  .m1 { width: 8.333%; }
  .m2 { width: 16.666%; }
  .m3 { width: 25%; }
  .m4 { width: 33.33%; }
  .m6 { width: 50%; }
  .m12 { width: 100%; }
  .m5 { width: 41.66%; }
  .m7 { width: 58.33%; }
  .m8 { width: 66.66%; }
  .m9 { width: 75%; }
  .m10 { width: 83.33%; }
  .m11 { width: 91.66%; } }
@media screen and (min-width: 992px) { .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12 { display: none; }
  .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12 { display: none; }
  .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { display: block !important; }
  .l1 { width: 8.333%; }
  .l2 { width: 16.666%; }
  .l3 { width: 25%; }
  .l4 { width: 33.33%; }
  .l6 { width: 50%; }
  .l12 { width: 100%; }
  .l5 { width: 41.66%; }
  .l7 { width: 58.33%; }
  .l8 { width: 66.66%; }
  .l9 { width: 75%; }
  .l10 { width: 83.33%; }
  .l11 { width: 91.66%; } }
@media screen and (min-width: 991px) and (max-width: 1180px) { .tbocontainer { width: 92%; } }
