/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #e7e7e7;
  background: #e7e7e7;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1 {
  font-size: 24px;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.slidingDiv {
  display: none;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  color: #444;
  font-weight: normal !important;
}

label {
  color: #444;
  margin-left: 5px;
  font-weight: normal !important;
  cursor: pointer;
  display: inline-block;
}
.footer-fixed-strip {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #000000;
  z-index: 2000;
}
.footer-fixed-strip .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.footer-fixed-strip .navbar-nav li a:hover {
  background-color: transparent;
}

.login-page-b2b footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.element-box {
  margin: 15px 0 20px 0;
}
.login-page-b2b footer .footerbottom-bg {
  display: none;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow:after {
  content: "";
  background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
  background-image: url(../images/1.jpg);
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(../images/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(../images/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(../images/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(../images/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(../images/6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
}
.banner-with-login {
  padding: 30px 0px;
  /*   background: url(../images/banner1.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 0px;
}
.banner-with-login .login-box {
  position: relative;
  width: 375px;
  padding: 40px;
  margin-top: 30px;
  border: #efefef;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
  z-index: 10;
}

.banner-with-login .registration-box {
  position: relative;
  width: 850px;
  padding: 36px;
  margin-top: 6px;
  border: #efefef;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(142, 142, 142, 0.5);
}

.container.login-section {
  display: flex;
}
.container.login-section .content-area {
  width: calc(100% - 375px);
}

.container.login-section .login-box input[type="text"],
.container.login-section .login-box input[type="password"] {
  height: 40px !important;
  padding-left: 40px;
  font-size: 14px !important;
}
.container.login-section .checkboxstyle {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxstyle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxstyle .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxstyle:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxstyle input:checked ~ .checkmark {
  background-color: #f25858;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxstyle input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxstyle .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login-box .form-group {
  position: relative;
}
.login-box .form-group .input-icon {
  position: absolute;
  left: 10px;
  top: 37px;
}
.login-box .form-group .input-icon .fas {
  font-size: 1.3em;
}
.login-box .btn-primary {
  color: #fff !important;
}
.login-box .btn-rounded {
  border-radius: 30px;
  padding: 8px 40px;
}
.header-logo {
  width: 200px;
  position: absolute;
  z-index: 10;
  left: 30px;
  top: 30px;
}
/* .header-logo img{
	width:100%;
} */
.logoheader-logo {
  width: 100%;
  height: auto;
}
.offer-area-box {
  position: absolute;
  z-index: 10;
  left: 200px;
  top: 150px;
}
.offer-area-box h6.top-title,
.offer-area-box h2.main-title,
.offer-area-box h3.bottom-title {
  margin: 0px;
  color: #fff;
}
.banner-with-login .login-box h1.title {
  margin-top: 0px;
  margin-bottom: 1em;
}
.offer-area-box h6.top-title {
  font-size: 2em;
}
.offer-area-box h2.main-title {
  font-size: 7em;
  font-weight: 700;
}
.offer-area-box h3.bottom-title {
  font-size: 2em;
}
/* Footer */

.page-footer {
  position: relative;
  background: #001c2f;
  text-align: center;
  font-size: 90%;
  color: #999;
}

.page-footer a {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.page-footer .footer-nav {
  margin: 32px auto;
}

.page-footer .footer-nav ul {
  margin: 0;
  padding: 0;
}

.page-footer .footer-nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 1;
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.page-footer .footer-nav ul li a {
  font-size: 130%;
  display: block;
  font-weight: 300;
  color: #999;
}

.page-footer .footer-nav ul li a:hover {
  color: #0096fb;
  text-decoration: none;
}

.page-footer .footer-nav ul li:last-child {
  border: 0;
}

.page-footer .soical-nav {
  margin-bottom: 2em;
}

.page-footer .soical-nav ul {
  margin: 0;
  padding: 0;
}

.page-footer .soical-nav ul li {
  list-style: none;
  display: inline-block;
}

.page-footer .soical-nav ul li a {
  display: block;
  color: #999;
  padding: 0;
  font-size: 160%;
  width: 50px;
  text-align: left;
}

.page-footer .soical-nav ul li a:hover {
  color: #00b9f5;
  text-decoration: none;
}

.page-footer .soical-nav ul li:last-child a {
  border: 0;
}

.page-footer .contact-bar {
  margin-top: 5px;
}

.page-footer .contact-bar .finfo {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.page-footer .contact-bar .finfo:last-child {
  border: 0;
}

.page-footer .contact-bar .finfo a {
  color: inherit;
}

.page-footer .contact-bar .finfo a:hover {
  text-decoration: none;
  color: #a8a8a8;
}

.page-footer .addreass-bar {
  font-weight: 400;
  font-size: 110%;
}

.page-footer .addreass-bar ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.page-footer .addreass-bar ul li {
  list-style: none;
  display: inline-block;
  line-height: 1;
  padding: 0 15px;
  font-size: 90%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.page-footer .addreass-bar ul li:last-child {
  border: 0;
}

.page-footer .addreass-bar ul li a {
  color: inherit;
}

.page-footer .addreass-bar ul li a:hover {
  color: #0096fb;
  text-decoration: none;
}

.page-footer .footer-copyright {
  padding: 1.4em 0;
  background: rgba(255, 255, 255, 0.03);
  line-height: 1;
  text-align: center;
  font-size: 90%;
}

.page-footer .footer-copyright a {
  color: inherit;
}

.page-footer .footer-copyright a:hover {
  text-decoration: none;
  color: #0096fb;
}

/* Navbar arun */

.siteNavbar {
  z-index: 1000;
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.05),
    0 6px 20px 10px rgba(0, 0, 0, 0.02), 0 6px 10px -6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.05),
    0 6px 20px 10px rgba(0, 0, 0, 0.02), 0 6px 10px -6px rgba(0, 0, 0, 0.05);
}

.siteNavbar .navbar {
  border: 0;
  margin: 0;
  border-radius: 0;
}

.siteNavbar .navbar .navbar-brand {
  margin-left: 0;
  cursor: pointer;
}

.siteNavbar .navbar .navbar-brand img {
  display: block;
  height: 100%;
}

.siteNavbar .navbar .navbar-brand.is-img {
  cursor: pointer;
  padding: 10px 0;
  margin-right: 30px;
}

.siteNavbar .navbar .dropdown-menu > li > a {
  padding: 8px 20px;
}

.siteNavbar .navbar .dropdown-menu > li > a:focus,
.siteNavbar .navbar .dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #eee;
}

.siteNavbar .navbar .navbar-nav li.header {
  color: #0096fb;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 20px;
  padding-bottom: 0;
  font-weight: 600;
}

.siteNavbar .navbar .navbar-nav.basic-bal li {
  padding: 5px 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.siteNavbar .navbar .navbar-nav.basic-bal .text {
  color: #fff;
}

.siteNavbar .navbar .navbar-nav.basic-bal .text .icons {
  font-size: 80%;
}

.siteNavbar .navbar .navbar-nav.basic-bal .text .text-in {
  margin-right: 8px;
}

.siteNavbar .navbar .navbar-nav > li > a {
  position: relative;
  font-weight: 500;
}

.siteNavbar .navbar .navbar-nav > li > a.icon-nofti {
  padding: 21px 10px;
}

.siteNavbar .navbar .navbar-nav > li > a.icon-nofti .icon {
  font-size: 140%;
}

.siteNavbar .navbar .navbar-nav > li > a .notifications {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  top: 9.6px;
  right: -3.2px;
  width: 20px;
  height: 20px;
  line-height: 19px;
  z-index: 2;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 70%;
}

.siteNavbar .navbar .navbar-nav > li > a .notifications .text {
  color: #fff;
}

.siteNavbar .navbar .navbar-nav > li > a:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.siteNavbar .navbar .navbar-nav > li > a:focus:after,
.siteNavbar .navbar .navbar-nav > li > a:hover:after {
  left: 3.5px;
  right: 3.5px;
  opacity: 1;
}

.siteNavbar .navbar .navbar-nav > .active > a:after,
.siteNavbar .navbar .navbar-nav > .active > a:focus:after,
.siteNavbar .navbar .navbar-nav > .active > a:hover:after,
.siteNavbar .navbar .navbar-nav > .open > a:after,
.siteNavbar .navbar .navbar-nav > .open > a:focus:after,
.siteNavbar .navbar .navbar-nav > .open > a:hover:after {
  left: 3.5px;
  right: 3.5px;
  opacity: 1;
}

.siteNavbar .navbar .profile-card {
  padding: 14.88372px 16px !important;
  padding-right: 30px;
  position: relative;
  max-width: 260px;
  overflow: hidden;
  display: block;
  position: relative;
  display: block;
  text-transform: initial;
  line-height: 1.3;
}

.siteNavbar .navbar .profile-card .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  z-index: 2;
}

.siteNavbar .navbar .profile-card .avatar {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
}

.siteNavbar .navbar .profile-card .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}

.siteNavbar .navbar .profile-card .avatar .notifications {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  top: -2.66667px;
  right: -2px;
  width: 12.66667px;
  height: 12.66667px;
  z-index: 2;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 90%;
}

.siteNavbar .navbar .profile-card .about {
  padding-left: 53px;
  font-weight: 400;
}

.siteNavbar .navbar .profile-card .about .user-id {
  display: block;
  font-size: 115%;
}

.siteNavbar .navbar .profile-card .about .user-name {
  display: block;
  font-size: 90%;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.siteNavbar .navbar .profile-card:focus:after,
.siteNavbar .navbar .profile-card:hover:after {
  display: none;
}

/* landing site*/
.landing-siteNavbar {
  z-index: 1000;
  /*   position: relative; */
  padding: 0;
  margin: 0;
  /*   -webkit-box-shadow: 0 15px 20px 10px rgba(0, 0, 0, .05), 0 6px 20px 10px rgba(0, 0, 0, .02), 0 6px 10px -6px rgba(0, 0, 0, .05); */
  /*  box-shadow: 0 15px 20px 10px rgba(0, 0, 0, .05), 0 6px 20px 10px rgba(0, 0, 0, .02), 0 6px 10px -6px rgba(0, 0, 0, .05) */
}

.landing-siteNavbar .navbar {
  border: 0;
  margin: 0;
  border-radius: 0;
}

.landing-siteNavbar .navbar .navbar-brand {
  margin-left: 0;
  cursor: pointer;
}

.landing-siteNavbar .navbar .navbar-brand img {
  display: block;
  height: 100%;
}

.landing-siteNavbar .navbar .navbar-brand.is-img {
  cursor: pointer;
  padding: 0px 0;
  margin-right: 30px;
}

.landing-siteNavbar .navbar .dropdown-menu > li > a {
  padding: 8px 20px;
}

.landing-siteNavbar .navbar .dropdown-menu {
  border: 1px solid #ddd !important;
}

.landing-siteNavbar .navbar .dropdown-menu > li > a:focus,
.landing-siteNavbar .navbar .dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #eee;
}

.landing-siteNavbar .navbar .navbar-nav li.header {
  color: #0096fb;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 20px;
  padding-bottom: 0;
  font-weight: 600;
}

.landing-siteNavbar .navbar .navbar-nav.basic-bal li {
  padding: 5px 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.landing-siteNavbar .navbar .navbar-nav.basic-bal .text .icons {
  font-size: 80%;
}

.landing-siteNavbar .navbar .navbar-nav.basic-bal .text .text-in {
  margin-right: 8px;
}

.landing-siteNavbar .navbar .navbar-nav > li > a {
  position: relative;
  font-weight: 500;
}

.landing-siteNavbar .navbar .navbar-nav > li > a.icon-nofti {
  padding: 21px 10px;
}

.landing-siteNavbar .navbar .navbar-nav > li > a.icon-nofti .icon {
  font-size: 140%;
}

.landing-siteNavbar .navbar .navbar-nav > li > a .notifications {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  top: 9.6px;
  right: -3.2px;
  width: 20px;
  height: 20px;
  line-height: 19px;
  z-index: 2;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 70%;
}

.landing-siteNavbar .navbar .navbar-nav > li > a .notifications .text {
  color: #fff;
}

.landing-siteNavbar .navbar .navbar-nav > li > a:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 1000;
  left: 50%;
  right: 50%;
  content: "";
  background-color: #0096fb;
  height: 3px;
  bottom: 0;
  opacity: 0;
}

.landing-siteNavbar .navbar .navbar-nav > li > a:focus:after,
.landing-siteNavbar .navbar .navbar-nav > li > a:hover:after {
  left: 3.5px;
  right: 3.5px;
  opacity: 1;
}

.landing-siteNavbar .navbar .navbar-nav > .active > a:after,
.landing-siteNavbar .navbar .navbar-nav > .active > a:focus:after,
.landing-siteNavbar .navbar .navbar-nav > .active > a:hover:after,
.landing-siteNavbar .navbar .navbar-nav > .open > a:after,
.landing-siteNavbar .navbar .navbar-nav > .open > a:focus:after,
.landing-siteNavbar .navbar .navbar-nav > .open > a:hover:after {
  left: 3.5px;
  right: 3.5px;
  opacity: 1;
}

.landing-siteNavbar .navbar .profile-card {
  padding: 14.88372px 16px !important;
  padding-right: 30px;
  position: relative;
  max-width: 260px;
  overflow: hidden;
  display: block;
  position: relative;
  display: block;
  text-transform: initial;
  line-height: 1.3;
}

.landing-siteNavbar .navbar .profile-card .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  z-index: 2;
}

.landing-siteNavbar .navbar .profile-card .avatar {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
}

.landing-siteNavbar .navbar .profile-card .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}

.landing-siteNavbar .navbar .profile-card .avatar .notifications {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  top: -2.66667px;
  right: -2px;
  width: 12.66667px;
  height: 12.66667px;
  z-index: 2;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 90%;
}

.landing-siteNavbar .navbar .profile-card .avatar .notifications .text {
  color: #fff;
}

.landing-siteNavbar .navbar .profile-card .about {
  padding-left: 53px;
  font-weight: 400;
}

.landing-siteNavbar .navbar .profile-card .about .user-id {
  display: block;
  font-size: 115%;
}

.landing-siteNavbar .navbar .profile-card .about .user-name {
  display: block;
  font-size: 90%;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.landing-siteNavbar .navbar .profile-card:focus:after,
.landing-siteNavbar .navbar .profile-card:hover:after {
  display: none;
}
/* end */

.siteNavbar .navbar .dropdown-autoslide .dropdown-menu {
  right: auto;
  left: 0;
}

.siteNavbar .navbar .dropdown-autoslide .dropdown-menu.dropdown-full {
  min-width: 500px;
  padding: 11px 22px;
}

.siteNavbar .navbar .dropdown-menu {
  padding: 0;
  border: 0;
  min-width: 150px;
}

.siteNavbar .navbar .dropdown-menu .divider {
  margin: 0;
}

.siteNavbar .navbar .dropdown-menu .header {
  color: #0096fb;
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
  padding-bottom: 3.5px;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist {
  margin: 0;
  padding: 0;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li {
  list-style: none;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  color: #607d8b;
  display: block;
  padding: 3.66667px 0;
  padding-left: 14.66667px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li a:before {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0;
  top: 5.5px;
  z-index: 175;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 80%;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li a:hover {
  color: #0096fb;
  padding-left: 22px;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li a:hover:before {
  left: 5px;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li.active > a,
.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li.open > a {
  color: #0096fb;
  padding-left: 22px;
}

.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li.active > a:before,
.siteNavbar .navbar .dropdown-menu .dropdown-fulllist li.open > a:before {
  left: 5px;
}

.navbar.navbar-inverse {
  min-height: initial;
  margin: 0;
  border-radius: 0;
  border: 0;
}

.navbar.navbar-inverse .navbar-nav > li > a {
  position: relative;
  font-size: 100%;
  padding: 4px 14px;
}

.navbar.navbar-inverse .navbar-nav > li > a .icon {
  margin-right: 8px;
}

.siteNavbar .navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}

.navbar.navbar-inverse .navbar-nav > li > a .icon.ico-social {
  margin: 0;
  font-size: 130%;
}

.navbar.navbar-inverse .navbar-nav > li > a .text {
  display: none;
}

.navbar.navbar-inverse .navbar-nav > li > a:after {
  background-color: #000;
}

.hidePrefs {
  color: #ddd !important;
  font-size: 120% !important;
}

.navbar.navbar-inverse .navbar-nav > .active > a:after,
.navbar.navbar-inverse .navbar-nav > .active > a:focus:after,
.navbar.navbar-inverse .navbar-nav > .active > a:hover:after {
  left: 3.5px;
  right: 3.5px;
}

.navbar.navbar-inverse .dropdown-menu {
  padding: 0;
}

.navbar.navbar-inverse .dropdown-menu .divider {
  margin: 0;
}

.siteNavbar .navbar-default .nav > li > a {
  position: relative;
  display: block;
}

.heading-page {
  margin-bottom: 18px;
}

.heading-page .heading {
  margin: 0;
  font-size: 200%;
  font-weight: 500;
  margin-bottom: 6px;
}

.heading-page.mini {
  margin-bottom: 8px;
}

.heading-page.mini .heading {
  font-size: 140%;
}

.heading-page .sub-heading {
  font-size: 130%;
  /* font-weight: 300; */
  margin-bottom: 4px;
}

.heading-page .sub-heading.with-date {
  font-size: 140%;
}

.heading-page .sub-heading.with-date span {
  display: inline-block;
}

.heading-page .sub-heading.with-date .date {
  margin-right: 8px;
}

.heading-page .sub-heading.with-date .head-time {
  color: #000;
  font-weight: 600;
}

.heading-page .sub-heading.with-date .desti {
  margin: auto 4px;
}

.heading-page .sub-heading.with-date .fa-w-14 {
  color: #607d8b;
}

.heading-page .header {
  font-size: 220%;
  text-transform: uppercase;
  color: #6f6f6f;
  font-weight: 700;
}

.heading-page.with-btns:after,
.heading-page.with-btns:before {
  display: table;
  content: " ";
}

.heading-page.with-btns:after {
  clear: both;
}

.heading-page.with-btns .heading-artical {
  float: left;
}

.heading-page.with-btns .heading-btnbar {
  float: right;
}

@media (max-width: 480px) {
  .heading-page .heading {
    font-size: 160%;
    font-weight: 700;
  }

  .heading-page .sub-heading {
    font-size: 90%;
    font-weight: 300;
  }
}

.oadv-section {
  padding: 3em 0;
  background-color: #fff;
}

.oadv-artical {
  position: relative;
  padding-left: 67.2px;
  min-height: 48px;
  margin-bottom: 18px;
}

.oadv-artical .oadv-figure {
  position: absolute;
  top: 8px;
  left: 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.oadv-artical .oadv-figure .oadv-icons,
.oadv-artical .oadv-figure img {
  width: 100%;
  height: auto;
  display: block;
}

.oadv-artical .oadv-figure .icons {
  color: #607d8b;
  margin-top: 10px;
  font-size: 300%;
}

.oadv-artical .header {
  font-size: 140%;
  font-weight: 600;
  color: #da7908;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.oadv-artical .contant {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* font-size: 90%; */
  -webkit-line-clamp: 2;
  height: 36px;
}

/*  */
.partners-section {
  padding: 3em 0;
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .partners-section {
    padding: 1em 0;
  }
}

.partners-card {
  margin-bottom: 20px;
  min-height: 10px;
  padding: 0;
  min-height: 40px;
  padding: 5px;
  border: 1px dashed #cccccc;
}

.partners-card img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/*  */
.feedback-section {
  background: #fff8f5;
  padding: 3em 0;
}

.feedback__content {
  margin: 0 auto;
}

.feedback__content--list {
  padding: 0;
  overflow: hidden;
  border: 1px solid #bebebe;
  border-radius: 5%;
  min-height: 400px;
  position: relative;
}

.feedback__content--list .client__img {
  display: block;
  width: 100%;
}

.client__content {
  float: left;
  min-height: 100px;
  justify-content: center;
  padding-left: 120px;
  padding-top: 0;
}

.feedback__content .slick-slide {
  margin-right: 20px;
  height: auto;
}

.feedback__content--text {
  line-height: 1.6;
  font-style: italic;
  font-size: 18px;
  color: #000;
  min-height: 230px;
  padding: 10px 0;
  font-weight: 600;
}

.feedback__content .slick-arrow {
  background: #414141;
  color: #fff;
  padding: 10px 12px;
  border-radius: 50%;
}

.feedback__content .glyphicon-chevron-left {
  position: absolute;
  left: -15px;
  top: 42%;
  z-index: 1;
  cursor: pointer;
}

.feedback__content p {
  margin: 0;
  padding: 0;
}

.feedback__content .glyphicon-chevron-right {
  position: absolute;
  right: 10px;
  top: 42%;
  z-index: 1;
  cursor: pointer;
}

.client__img {
  border-radius: 50%;
}

.client__name {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 800;
}

.client__desig {
  font-size: 15px;
  color: #666;
  padding: 0;
  line-height: 1.3;
}

.reason__tab--list {
  padding: 0 30px;
  cursor: pointer;
}

.reason__tab--head {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  color: #111111;
  padding: 5px 0;
  font-weight: 600;
}

.reason__tab--text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #222;
}

.product__image--bg {
  position: relative;
  margin-bottom: 20px;
}

.product__image--content {
  border: 20px solid #1f2428;
  border-radius: 15px;
  width: 50%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 480px;
}

@media (max-width: 768px) {
  .parallax-container {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .parallax-container {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .parallax-container.compay-talk-widget {
    height: 350px;
    padding: 15px 0;
  }
}

@media (max-width: 480px) {
  .parallax-container.compay-talk-widget {
    height: auto;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
}

@media (max-width: 480px) {
  .parallax img {
    width: 120% !important;
    height: 120%;
  }
}

.reason-section {
  background: #f1f9ff;
  /* padding-top: 30px; */
}

.reason-section .parallax-container {
  height: auto;
  z-index: 2;
}

.product_reason_tab {
  width: 40%;
  background: rgba(255, 255, 255, 0.9);
  float: right;
  /* margin: 20px 0; */
  padding-bottom: 40px;
}

.product_reason_tab .heading-page {
  margin: 30px;
}

.product_reason_tab .heading-page .sub-heading {
  font-size: 34px;
  color: #000000;
}

.product_reason_tab .heading-page .heading {
  font-size: 15px;
  color: #000000;
}
.powered-by {
  position: absolute;
  right: 20;
  bottom: 18;
}
@media (max-width: 767px) {
  .landing-siteNavbar .navbar .navbar-brand.is-img {
    margin-right: 0px !important;
  }
  .loginpage-footer-section a {
    display: flex;
  }
  .loginpage-footer-section,
  .login-page-b2b footer {
    display: block !important;
    position: relative;
    width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 89px;
  }
}
