.desktop-media-mobile-view {
  display: none;
}
@media (min-width: 762px) and (max-width: 1024px) {
  /* .modify, .client-interactive, #passengerdetailspage .form-group.inputfield-label,
	.onoffswitch {
		display: none;
	} */
  /* fcsdf */
  /* .offer-area-box,
  .content-area {
    display: none;
  } */

  .banner-with-login .login-box {
    margin: 30px auto;
    margin-top: 300px !important;
    left: -300;
  }
  .search-area .col-sm-2 {
    width: 100%;
  }
  .citytrip .search-area {
    display: grid;
  }
  #styleHome .btnrightround {
    height: 50px;
    position: absolute;
    margin: 15px 0px 15px 0px;
    border-radius: 25px !important;
  }
  .flightsearch-bg {
    padding-bottom: 100px;
  }
  .search-area .col-sm-2:first-child,
  .search-area .col-sm-2:nth-child(2) {
    border-bottom: 1px solid #efefef;
  }
  .swipe {
    right: 30px;
    top: 37px;
  }
  .airline-preference {
    top: 290px;
    right: 90px;
    z-index: 8;
  }
  .top-header-strip {
    background-color: var(--default-white-color);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 10;
    -webkit-box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
    -moz-box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
    box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
  }

  .top-header-strip {
    position: absolute;
    top: 140px;
    z-index: 2;
    border-top: 1px solid #efefef;
  }
  .siteNavbar {
    /* position: fixed; */
    z-index: 10;
    width: 100vw;
  }
  .loaderarea {
    width: 80%;
    height: 250px;
    margin: 225px auto 0px auto;
  }
  #loggingTable {
    margin-top: 35px;
  }
  .filter-icon span {
    font-size: 22px;
  }
  .filter-icon,
  .btn-back {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loaderarea h3 {
    padding-top: 18%;
  }
  .home-page-search .citytrip {
    margin-top: 10px;
  }
  .col-md-3.advantage-box {
    width: calc(50% - 12px);
    margin: 6px 6px;
  }
  .flt-deals .col-md-6.mb-3 {
    width: calc(50% - 12px);
    display: inline-flex;
  }
  /* .col-md-8.trip {
    margin-top: 120px;
  } */
  .traveller-selection {
    top: 498px;
    right: unset;
    display: none;
    left: 50;
    z-index: 8;
  }

  /* #passengerdetailspage .mtmh_flt-tkt {
			margin-top: 105;
		} */
  #passengerdetailspage .travler-info-labl {
    text-align: left !important;
    padding-left: 15px !important;
    top: 8px;
    position: inherit !important;
    margin-bottom: 12px;
  }
  #passengerdetailspage .input-style,
  #passengerdetailspage .select-style,
  #passengerdetailspage .col-md-3.onoffswitch-fare {
    margin-bottom: 10px;
  }

  .col-md-offset-3 {
    margin-left: unset;
  }
  #passengerdetailspage .departicon img {
    position: absolute;
    z-index: 9;
    top: 16;
    left: 100px;
  }
  #passengerdetailspage .baggage-with-duration {
    text-align: center;
  }
  #passengerdetailspage .padding-5,
  #passengerdetailspage .col-md-9 + .col-md-2.padding-left0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  /* #passengerdetailspage .col-md-9 + .col-md-2.padding-left0 .fixed-cell {
			width: 100%;
		} */
}

@media (min-width: 768px) and (max-width: 1020px) {
  #passengerdetailspage .col-md-9 + .col-md-2.padding-left0 .fixed-cell {
    width: 100%;
  }
}

 @media (max-width:760px){
  #passengerdetailspage .ssr {
    width: 100px;
    height: 140px;
    margin: 6px;
  }
 }

@media (max-width: 770px) {
  body h1 {
    font-size: 1.5em;
  }
  .banner-with-login .offer-area-box {
    display: none;
  }

  .landing-siteNavbar .navbar .navbar-brand.is-img,
  .navbar-brand {
    margin-right: 0px;
  }

  .container-fluid {
    margin-top: 1px !important;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar.navbar-default > .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .navbar-toggle {
    float: left;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .top-header-item {
    position: absolute;
    z-index: 99999;
    top: 80px;
    right: 10px;
  }
  .top-header-item .Customer-support,
  .support-no a,
  .support-no a:hover,
  .Utility a,
  .Utility a:hover {
    color: var(--default-color) !important;
  }
  .top-navbar,
  .top-header-strip {
    display: flex;
    align-items: center;
  }
  .top-navbar {
    background-color: var(--default-strip-bg);
    padding: 10px;
  }
  .device-menu-icon .lnr-menu,
  .support-no span,
  .support-no span a,
  .support-no span a:hover,
  .device-customer-info i,
  .device-customer-info span {
    color: var(--default-white-color) !important;
  }
  .device-user-login.header-icon span {
    color: #000 !important;
  }
  .support-no .title,
  .support-no .title a {
    color: var(--default-strip-bg) !important;
  }
  .top-header-strip {
    background-color: var(--default-white-color);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 10;
    -webkit-box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
    -moz-box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
    box-shadow: -4px 11px 5px -11px rgba(207, 207, 207, 1);
  }
  #passengerdetailspage {
    margin-top: 70px;
  }
  .onewaypage-result {
    margin-top: 70px;
  }
  .airline-preference {
    top: 142px;
    left: 50px;
    z-index: 5 !important;
  }
  .device-view-header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .domesticroundtrip-page #loggingTable {
    margin-bottom: 150px;
    margin-top: 120px;
  }
  .filter-scroll-rounttrip {
    height: 100%;
  }

  .fa-Customersupport.icon-image img {
    filter: invert(0) !important;
  }
  .header-icon {
    margin: 0px 8px;
  }
  .device-logo a.navbar-brand {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .device-menu-icon {
    padding: 10px;
  }
  .device-logo a.navbar-brand img {
    width: 100%;
  }
  .fa-Customersupport.icon-image img {
    filter: invert(1);
  }
  .home-page-search .trip,
  .onewaypage-result .trip,
  .domesticroundtrip-page .trip {
    display: grid;
  }
  ul.select-catecgory {
    position: absolute;
    top: -41px;
    right: 0px;
  }
  .col-md-8.trip {
    padding-right: 10px;
    padding-left: 10px;
  }
  .flightsearch-bg {
    padding-top: 20px;
  }
  .nonstop {
    padding: 0px 10px;
  }
  #styleHome .btnbig {
    width: 100%;
  }
  #styleHome .btnrightround {
    height: 50px;
    position: absolute;
    margin: 15px 0px 15px 0px;
    border-radius: 25px !important;
  }
  .container-fluid {
    padding-bottom: 95px;
  }
  .mb-3,
  .col-md-3.advantage-box {
    margin-bottom: 15px;
  }
  .search-area .col-sm-2:first-child,
  .search-area .col-sm-2:nth-child(2) {
    border-bottom: 1px solid #efefef;
  }
  #origin {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  input:focus,
  input:active {
    outline: none;
  }
  #ui-datepicker-div {
    z-index: 99999 !important;
    width: 308px !important;
    margin-top: 0px !important;
  }
  .ui-datepicker-group-last {
    border-left: 0px;
    padding-left: 10px;
  }
  /* .ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span {
    left: 141%;
  } */
  .loaderarea {
    width: 100%;
  }
  .loaderarea h3 {
    padding-top: 27%;
  }
  #searchMsg,
  #searchAgain {
    font-size: var(--fontSize-12);
  }
  .device-logo .navbar-brand {
    padding: 0px;
  }
  .device-customer-support {
    width: calc(100% - 150px);
  }
  .device-customer-info {
    width: calc(100% - 150px);
  }
  .device-customer-support {
    display: flex;
    justify-content: flex-end;
  }
  .device-customer-info {
    display: flex;
    justify-content: flex-end;
  }
  .filter-icon span {
    font-size: 22px;
  }
  .flt-details {
    padding-left: 5px;
  }

  /* FILTER */
  .topbarfilter,
  .divflightinfo span.airline-name,
  .sticky .mtmh_row-white15m,
  .sticky .col-md-5.divstripdateinfo,
  #modifyingSearch,
  .inputfield-label,
  #passengerdetailspage .desktop-media,
  #passengerdetailspage .onoffswitch-fare,
  .onewaypage-result .client-interactive,
  .domesticroundtrip-page .client-interactive,
  .onewaypage-result .corporate_one_way,
  .onewaypage-result .flt-timeinfo.gross-price .watermark,
  .hide-mobile-view,
  .divflightfilter .mtmh_left {
    display: none;
  }

  .desktop-media-mobile-view {
    display: block !important;
    text-align: center;
  }

  .mobile-flight-info .price {
    font-size: 18px;
  }
  .domesticroundtrip-page .mobile-flight-info .flt-no {
    height: unset;
  }
  .mobile-flight-info {
    width: 60px;
  }
  .mobile-timing-duration {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .mobile-flight-inclusion {
    margin-top: 8px;
    border-top: 1px solid #f4f4f4;
    padding-top: 8px;
  }
  .mobile-flight-timing {
    display: inline-flex;
    width: 90px;
  }
  a.scrollup {
    display: none !important;
  }
  .filter-icon {
    cursor: pointer;
  }
  #loggingTable {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 18px;
  }
  .mtmh_right .sme_one_way,
  .mtmh_right .coupon_one_way,
  .mtmh_right .corporate_one_way {
    left: 0px;
  }
  .divflightinfo,
  .flighttime-info .flt-timeinfo {
    text-align: center;
  }
  #searchresponsepage .flightname-info,
  #searchresponse-Multicitypage .flightname-info {
    width: 90px !important;
    display: grid;
    justify-content: center;
  }
  .flightname-info .flt-logo {
    height: 35px;
    width: 35px;
    margin: 0px auto;
  }
  .divflightRow .flightname-info,
  .divflightRow .flightdepart-info,
  .divflightRow .flightarival-info,
  .divflightRow .flighttime-info,
  .divflightRow .flightfare-info {
    float: left;
  }
  .flt-timeinfo h1.flt-time,
  .traveler-searchinfo .title {
    font-size: var(--fontSize-16);
  }
  .flt-timeinfo .flt-fare,
  .registration-box h1 {
    font-size: var(--fontSize-18) !important;
  }
  .registration-box label {
    margin-left: 0px;
  }
  .travel-duration span,
  .top-search-resultinfo .traveler-searchinfo .sub-info,
  .seatlegend .seatname {
    font-size: var(--fontSize-12);
  }
  #searchresponsepage .flightname-info span:nth-child(2),
  .flightmeal-txt,
  .flt-no,
  #passengerdetailspage .travel-time-duration .baggage-with-duration,
  #passengerdetailspage .travel-time-duration .travel-duration,
  #bookingDetailsPreview .col-md-4.col-sm-4.travel-time-duration {
    font-size: var(--fontSize-10);
  }
  #searchresponsepage .flightdepart-info {
    width: 55px;
  }
  .divflightRow .flighttime-info {
    width: 140px !important;
  }
  .flt-to {
    margin-right: 0px;
  }
  .col-md-2.col-sm-2.flighttime-info {
    width: 100px !important;
  }
  .divflightinfo,
  .flighttime-info .flt-timeinfo {
    margin-top: -25px;
    margin-right: 64px;
  }
  .flt-timeinfo.gross-price p,
  .flt-timeinfo p,
  .flt-timeinfo p,
  .mobile-duration .stops {
    font-size: var(--fontSize-10) !important;
  }
  .flt-timeinfo .travel-duration span {
    padding: 0px 1px;
    margin-top: 2px;
  }
  .desktop-ver,
  .domesticroundtrip-page .airlineName,
  .domesticroundtrip-page .float-right.more-icon,
  .domesticroundtrip-page .flighttime-info .watermark {
    display: none !important;
  }
  .show-device {
    display: block;
  }
  a.flight-link {
    pointer-events: unset;
  }
  .flightmeal-txt {
    white-space: nowrap;
    width: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .top-search-resultinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .show-balance-icon,
  .filter-icon,
  .device-user-login,
  .top-header-strip .btn-back {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .show-balance-icon,
  .device-user-login {
    border: 1px solid #efefef;
    border-radius: 30px;
    margin: 0px 0px 0px 6px;
  }
  .leftmob-filter {
    display: unset;
  }
  .leftmob-filter {
    float: right;
    display: flex;
    justify-content: flex-end;
  }
  .traveler-searchinfo {
    width: calc(100% - 100px);
    padding: 0px 8px;
  }
  .top-search-resultinfo .icon-area {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  .top-search-resultinfo .traveler-searchinfo .title {
    font-weight: 500;
  }
  .domesticroundtrip-page #loggingTable {
    display: flex;
  }
  .domesticroundtrip-page .flt-timeinfo h1 {
    font-size: var(--fontSize-10) !important;
  }
  .domesticroundtrip-page .flightname-info,
  .domesticroundtrip-page .flightdepart-info,
  .domesticroundtrip-page .flightarival-info,
  #passengerdetailspage .flight-tkt {
    float: left;
  }
  .domesticroundtrip-page .flightdepart-info,
  .domesticroundtrip-page .flightarival-info {
    display: flex;
    justify-content: center;
  }
  .domesticroundtrip-page .flightarival-info {
    margin-left: 25px;
  }
  .domesticroundtrip-page .col-md-9.mt150.custom-col-md-9 {
    width: 100%;
  }
  .domesticroundtrip-page .flightarival-info,
  .domesticroundtrip-page .flighttime-info {
    position: absolute;
    right: 0px;
  }
  .domesticroundtrip-page .flighttime-info {
    top: 43px;
  }
  .domesticroundtrip-page .flightname-info,
  .domesticroundtrip-page .flightarival-info,
  .domesticroundtrip-page .flightdepart-info,
  .domesticroundtrip-page .flighttime-info {
    padding-left: 0px;
  }
  .domesticroundtrip-page .mainDivright .flighttime-info {
    right: -4px;
  }
  .domesticroundtrip-page .flt-seat,
  #passengerdetailspage .mediabooking-preview {
    display: none;
  }
  .mtmh_row.price_col.divnetshow-fare {
    display: block !important;
  }
  .domesticroundtrip-page .mediaroundfare .depart-flightselect {
    margin-left: -18px;
  }
  .domesticroundtrip-page .col-md-9.mt150.custom-col-md-9 {
    margin-top: 0px;
  }
  .watermark p {
    white-space: nowrap !important;
  }
  .media-roundtrip-fare {
    background-color: var(--default-strip-bg);
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    z-index: 2000;
    color: #fff;
  }
  .domesticroundtrip-page #loggingTable {
    margin-bottom: 50px;
    overflow: inherit;
  }
  .media-roundtrip-fare .media-level span,
  .media-roundtrip-fare .media-fare span {
    display: grid;
  }
  .media-roundtrip-fare .media-action,
  .media-roundtrip-fare .media-level,
  .media-roundtrip-fare .media-fare {
    width: 70px;
    padding: 0px 5px;
  }
  .media-roundtrip-fare .media-fare {
    padding-left: 15px;
  }
  .domesticroundtrip-page .media-fare {
    width: calc(100% - 150px) !important;
  }
  .media-fare {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  #bookingDetailsPreview .flight-tkt .text-center {
    padding: 0px;
  }
  #passengerdetailspage .pax-detail-img img {
    width: 100%;
  }
  #passengerdetailspage .col-md-9 {
    padding: 2px;
  }
 
  #passengerdetailspage .flight-tkt {
    padding-right: 0px;
  }
  #passengerdetailspage .sector-details-row .text-center {
    padding: 0px;
  }
  #passengerdetailspage .sector-details-row .col-md-2.col-sm-2.origin-flight {
    justify-content: unset;
  }
  #passengerdetailspage .origin-flight .airport-Code,
  #passengerdetailspage .origin-flight span.origin-time,
  #passengerdetailspage #onwarddate,
  #passengerdetailspage .airport-name,
  #passengerdetailspage .fixed-cell .mtmh_row.price_col h1 span,
  #passengerdetailspage .mtmh_row.price_col.bg-white h1,
  #passengerdetailspage .col-md-3.col-sm-3.flight-tkt span,
  #bookingDetailsPreview .col-md-2.col-sm-2.flight-tkt.preview-origin-flight,
  #bookingDetailsPreview
    .col-md-2.col-sm-2.flight-tkt.preview-destination-flight,
  #bookingDetailsPreview .text-md-color,
  #bookingDetailsPreview .text-md,
  #bookingDetailsPreview table.tkt-issue,
  #bookingDetailsPreview
    .mtmh_row.price_col.bg-white
    h1
    #bookingDetailsPreview
    .mtmh_row
    h1,
  .profile-logininfo .mobile,
  .profile-logininfo .email,
  .profile-logininfo .editprofile {
    font-size: var(--fontSize-12) !important;
  }
  #passengerdetailspage .origin-flight .airport-Code {
    font-size: var(--font-size-16) !important;
  }
  #passengerdetailspage .col-md-2.col-sm-2.flight-tkt.mtmh_left-right0 span,
  .preview-destination-flight .flight-tkt span {
    text-align: center;
  }
  #passengerdetailspage .col-md-4.col-sm-4.travel-time-duration,
  #bookingDetailsPreview .col-md-4.col-sm-4.travel-time-duration {
    padding: 5px;
    
  }
  #passengerdetailspage .sector-details-row {
    position: relative;
  }
 
  #passengerdetailspage #bookingDetailsPreview .flight-tkt {
    float: unset;
  }
  #passengerdetailspage .departicon img,
  #bookingDetailsPreview .departicon img {
    width: 25px;
    top: 15px;
  }
  #bookingDetailsPreview .mtmh_flt-tkt {
    padding-bottom: 15px;
  }
  #bookingDetailsPreview .row.selectedssr h1 {
    padding: 0px 0px;
  }
  #bookingDetailsPreview #email {
    width: 100%;
  }
  #passengerdetailspage .departicon + hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  #passengerdetailspage .travler-info-labl {
    text-align: left;
  }
  #passengerdetailspage .travler-info-labl {
    padding-left: 15px !important;
  }
  #passengerdetailspage .travler-info-labl {
    margin-bottom: 15px;
  }
  #passengerdetailspage .input-style,
  #passengerdetailspage .select-style,
  #passengerdetailspage .col-md-3.onoffswitch-fare {
    margin-bottom: 10px;
  }
  .form-padd-botm + .col-md-offset-3 {
    margin-left: 0px;
    padding: 0px;
  }
  #passengerdetailspage .padding-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  #passengerdetailspage .fixed-cell {
    width: 100%;
  }
  #passengerdetailspage .col-md-12.mtmh_row h1,
  #passengerdetailspage .fixed-cell h1 {
    margin-left: 15px;
  }
  #passengerdetailspage .col-md-9 + .col-md-2.padding-left0 {
    padding-right: 2px;
    padding-left: 2px;
  }
  .mediabooking-preview.ng-scope {
    margin-left: 15px;
  }
  #passengerdetailspage .col-md-2.search-again {
    position: absolute;
    left: -15px;
  }
  #passengerdetailspage .row.row-margin {
    margin-top: 0px;
  }
  footer,
  .ui-datepicker-div,
  .desktop-view {
    display: none;
  }
  .log-field-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  #ui-datepicker-div {
    width: 320px !important;
    transform: translateX(50%);
  }
  .passenger-ssr-section {
    display: flex;
  }
  .passenger-ssr-section .ssr {
    width: calc(33.33% - 6px);
  }
  #passengerdetailspage .mtmh_flt-tkt.ng-scope {
    margin-top: 30px;
  }
  .onewaypage-result .divflightRow {
    height: 80px;
  }
  .onewaypage-result .flight-book {
    position: absolute;
    right: 65px;
    top: 60;
  }
  .onewaypage-result .divflightsubinfo {
    margin-top: 10px;
  }
  .onewaypage-result .flightfare-info {
    display: flex;
    justify-content: flex-end;
  }
  #searchresponsepage .gross-price {
    padding-left: 0px;
    padding-right: 0px;
  }
  .onewaypage-result .flight-book .btn-book {
    width: 90px;
    font-size: 0.9em;
  }
  .selectpaxseat {
    height: unset !important;
    overflow-y: scroll;
  }
  #passengerdetailspage #seatmodal .seatlegend {
    background-color: transparent !important;
    margin-top: -120px;
  }
  #passengerdetailspage #seatmodal .selectpaxbox {
    padding-bottom: 150px;
  }
  #passengerdetailspage #seatmodal .flightbox {
    position: relative;
  }
  #seat #row-section00 {
    height: 513px;
  }
  .swipe {
    right: 12px;
    top: 38px;
  }
  .nav.nav-tabs.selectssr {
    position: absolute;
    top: 48px;
  }
  #seatmodal .modal-header,
  #Mealmodal .modal-header,
  #Bagmodal .modal-header {
    height: 90px;
  }
  .selectssr .active a,
  #Mealmodal .modal-header .nav > li > a,
  #Bagmodal .modal-header .nav > li > a {
    padding: 0px 0px 8px 0px !important;
  }
  .nav.nav-tabs.selectssr li {
    margin: 0px !important;
  }
  .modal-body .airlinesbag,
  .modal-body .airlinesmeal {
    width: 100%;
  }
  .baggagebox,
  .mealbox {
    margin-bottom: 15px;
  }
  .price_row .filter-scroll-farebreakup {
    height: unset;
    width: 100% !important;
  }
  .width90per {
    width: 100%;
  }
  .onewaypage-result .divflightRow .flighttime-info {
    margin-top: 2px;
  }
  #bookingDetailsPreview .col-md-2.col-sm-2.flight-tkt.preview-origin-flight {
    position: absolute;
    left: 103px;
    top: 27px;
  }
  /* #bookingDetailsPreview .col-md-2.col-sm-2.flight-tkt.preview-origin-flight,
		#bookingDetailsPreview .col-md-2.col-sm-2.flight-tkt.preview-destination-flight
		{
		top: 27px;
	} */
  #bookingDetailsPreview
    .col-md-2.col-sm-2.flight-tkt.preview-origin-flight
    span {
    text-align: left;
  }
  #bookingDetailsPreview
    .col-md-2.col-sm-2.flight-tkt.preview-destination-flight {
    position: absolute;
    right: 26px;
    top: 27px;
  }
  #bookingDetailsPreview
    .col-md-2.col-sm-2.flight-tkt.preview-destination-flight
    span {
    text-align: right;
  }
  .price_row h1,
  .price_footer h1,
  .price_col.divnetshow-fare h1 {
    margin-left: 0px !important;
  }
  #bookingDetailsPreview .travler-info-labl {
    text-align: left;
    padding-left: 15px !important;
    padding-right: 10px !important;
    top: 0px;
  }
  #bookingDetailsPreview .fixed-cell {
    width: 100%;
  }
  #bookingDetailsPreview .padding-left0 {
    padding-left: 15px !important;
  }
  
  /* #passengerdetailspage .btn-makepayment {
    position: absolute;
    right: 15px;
    top: -40px;
  } */
  #bookingDetailsPreview .flight-tkt hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .forgot-box {
    padding: 50px;
  }
  .menu-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    -webkit-box-shadow: 8px -1px 5px -3px rgba(36, 36, 36, 0.3);
    -moz-box-shadow: 8px -1px 5px -3px rgba(36, 36, 36, 0.3);
    box-shadow: 8px -1px 5px -3px rgba(36, 36, 36, 0.3);
  }
  .menu-sidenav ul li a {
    font-size: 1em;
  }
  .menu-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #404040;
    display: block;
    transition: 0.3s;
  }
  .menu-sidenav ul li a div {
    color: #818181;
  }
  .c-Support {
    margin-top: 8px;
  }
  .menu-sidenav a:hover {
    color: #f1f1f1;
  }
  .menu-sidenav .closebtn {
    position: absolute;
    top: -7px;
    right: 15px;
    font-size: 30px;
    color: #e14b4b;
  }
  .device-view-header,
  .menu-sidenav,
  .modifysearcharea .modify .sticky .col-md-3.divflightfilter {
    display: unset;
  }
  .show-balance-area .balance {
    width: calc(50% - 12px);
    height: 60px;
    margin: 4px;
  }
  .check-balance-modal .modal-footer {
    display: flex;
    justify-content: center;
  }
  .onewaypage-result .row.flight-filter-section,
  .onewaypage-result .divflightfilter .mtmh_left.scroll,
  .domesticroundtrip-page .divflightfilter .mtmh_left.scroll {
    position: fixed;
    z-index: 2000 !important;
  }
  .onewaypage-result .divflightfilter .mtmh_left.scroll,
  .domesticroundtrip-page .divflightfilter .mtmh_left.scroll {
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
  }
  .onewaypage-result .divflightfilter .mtmh_left.scroll,
  .domesticroundtrip-page .divflightfilter .mtmh_left.scroll {
    width: 350px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    top: 130px;
    border-radius: 4px;
  }
  .mainDivleft .mtmh_right3 .sme,
  .mainDivleft .mtmh_right3 .coupon,
  .mainDivleft .mtmh_right3 .corporate,
  .mainDivright .mtmh_right3 .sme,
  .mainDivright .mtmh_right3 .coupon,
  .mainDivright .mtmh_right3 .corporate {
    z-index: 0;
  }
  .modify .col-md-3.divflightfilter .filter-scroll,
  .filter-scroll-rounttrip {
    width: 100% !important;
    height: 245px;
  }
  .mtmh-filterbox {
    margin: 40px 5px 0px 5px;
  }
  .flight-filter-section .leftmob-filter {
    text-align: right;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .menu-profile-section {
    padding: 40px 15px;
    background: var(--default-strip-bg);
    display: flex;
    margin-top: -20px;
    color: var(--default-white-color);
  }
  .menu-profile-section .profile-icon {
    width: 80px;
  }
  .profile-icon img {
    border-radius: 50px;
  }
  .menu-profile-section .profile-icon {
    width: 55px;
    margin-right: 8px;
  }
  .menu-profile-section .editprofile {
    margin: 15px 0px 0px 0px;
  }
  .menu-sidenav ul li:hover a {
    color: var(--default-strip-bg);
  }
  .traveller-selection {
    min-width: 300px;
    background-color: var(--default-white-color);
    border: 0px solid #d1d1d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 350px;
    margin-top: 36px !important;
    padding: 12px;
    border-radius: 3px;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
    z-index: 2000;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .traveller-selection .hr1 {
    margin-top: 0px;
    margin-bottom: 15px;
    border: 0;
  }

  .flight-tkt .review-title {
    display: none;
  }
  .domesticroundtrip-page .mtmh_right3 {
    height: 95px;
  }
  .flt-timeinfo .flt-from,
  .flt-timeinfo .flt-to {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .domesticroundtrip-page .flt-no {
    white-space: nowrap;
    width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
  }
  .domesticroundtrip-page .col-md-3.col-sm-2.flightdepart-info {
    padding-right: 0px;
  }
  .domesticroundtrip-page .mainDivleft .flightarival-info {
    margin-left: 0px;
  }
  .domesticroundtrip-page .col-md-3.col-sm-2.flightarival-info,
  .domesticroundtrip-page .col-md-3.col-sm-2.flightdepart-info {
    width: 55px;
  }
  .domesticroundtrip-page .flighttime-info {
    margin-right: 10px;
  }
  .mediaroundfare .hr {
    margin-bottom: 15px;
  }
  .corporate span {
    white-space: nowrap;
    width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #domesticroundtrip-page .flightmeal {
    left: unset;
  }
  .flightbox {
    min-width: 2300px;
    position: absolute;
    top: -8px !important;
  }
  .col-md-8.trip {
    margin-top: 60px;
  }
  .loaderarea {
    margin-top: 148px;
  }
  .tab-content .tab-pane .flt-timeinfo {
    float: left;
    width: 20%;
  }
  .tab-content .tab-pane .table {
    font-size: var(--fontSize-12);
  }
  .tabbable-panel .nav > li > a {
    font-size: var(--fontSize-12) !important;
    padding: 8px 3px !important;
  }
  .divflightresult .tab-content .div-ruleshow {
    overflow: auto;
  }

  .remark-msg {
    font-size: 0.75em;
    padding: 0px 0px 5px 0px;
  }
  .top-section {
    display: grid;
    justify-content: space-between;
  }
  .main-tiles-area {
    width: 100%;
    margin-top: 30px;
  }
  .dasboard-page .tiles {
    width: calc(50% - 12px) !important;
    margin: 0px 0px 10px 8px !important;
  }
  .recent-activity {
    width: 100%;
    margin-left: 0px;
  }
  .model-footer-area {
    display: grid;
    justify-content: flex-start;
    position: relative;
  }
  .model-footer-area div {
    margin: 0px 0px 15px 0px;
  }
  .model-footer-area .close-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .invoice-customer-info {
    display: grid;
    justify-content: flex-start;
  }
  .invoice-customer-info .mobile-view {
    display: flex;
    justify-content: flex-start;
  }
  .invoice-customer-info .tkt-issue {
    margin-left: 0px;
    padding-left: 0px;
  }
  .box-footer2.mt-40p.mb-40p button {
    width: calc(50% - 10px);
    margin: 4px;
  }

  .box-footer2 #showHideFare,
  .box-footer2 .btn.btn-primary.pull-right {
    margin-top: 20px;
  }

  .menu-sidenav .default-menu {
    display: none;
  }

  .menu-sidenav.default-menu-active .default-menu {
    display: unset;
  }
  .menu-sidenav.default-menu-active .profile-logininfo {
    display: none;
  }

  .menu-sidenav.default-menu-active .closebtn {
    color: #818181;
  }

  .default-menu li {
    border-bottom: 1px solid #efefef;
    padding: 5px;
  }
  .contactus-section {
    width: 90%;
    margin: 0px auto;
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 4px;
    padding: 30px;
    margin-top: 110;
  }
  .contactus-section {
    margin-bottom: 8px;
  }
  .office-address p {
    margin: 3px;
  }

  .contactus-section h3 {
    font-size: 20px;
  }
  .contactus-section .custom-row {
    margin-bottom: 10px;
  }

  footer {
    margin-top: 10px;
    display: none !important;
  }

  .col-md-6.padding-LR0.mainDivright,
  .col-md-6.padding-LR0.mainDivleft {
    overflow: inherit;
    min-height: 700px;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
  }

  .mobile-result-view.result-container {
    background: #fff;
    padding: 10px;
    height: 145px;
    border: 1px solid #d8d8d8;
  }
  .mobile-logo-with-price {
    display: flex;
    justify-content: space-between;
  }
  .mobile-flight-timing {
    display: inline-flex;
    width: 90px;
    justify-content: space-between;
  }
  .mobile-oneway-multicity-filter,
  .mobile-round-filter {
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1;
    top: 115px;
    padding: 5px 0px;
  }

  .mobile-round-filter .sub-flight-filter,
  .mobile-oneway-multicity-filter .sub-flight-filter {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px;
  }
  .inner-flight-filter .t-date {
    font-size: 0.8em;
  }
  .inner-flight-filter {
    width: 100%;
    padding: 0px 15px;
  }

  .mobile-round-filter,
  .mobile-result-view.result-container {
    display: none;
  }

  .download-app {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container.downloadapp {
    text-align: center;
  }
  .downloadapp .text {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }

  .mobile-round-filter .inner-flight-filter {
    border-right: 1px solid #efefef;
  }
  .flight-inclusion-offer.flightrefundableAttr {
    margin-left: 8px !important;
    margin-top: 1px;
  }
  .onewaypage-result .row-margin {
    margin-top: 45px;
  }
}

@media (min-width: 1024px) {
  .top-header-strip {
    display: none;
  }
}
@media (max-width: 1024px){
.responsive-table {
  padding: 8px 0px;
  overflow-y: auto;
}
}

@media (min-width: 414px) {
  .flightmeal-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #btnLogin\ pull-right,
  #btnLogin {
    width: 100%;
  }
}

@media (min-width: 375px) {
  #ui-datepicker-div {
    transform: translateX(2%);
  }
}

@media (max-width: 360px) {
  #ui-datepicker-div {
    transform: translateX(2%);
  }
  .loaderarea h3 {
    font-size: var(--fontSize-14) !important;
  }
  .tabbable-panel .nav > li > a {
    font-size: var(--fontSize-12) !important;
    padding: 8px !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .flightbox {
    top: -8px !important;
  }
  .seatname img {
    width: 20px;
    height: 20px;
  }
  .seatlegend {
    padding: 15px;
    border-radius: 0px;
    position: fixed;
    z-index: 50;
    background-color: #fff;
    width: 99.2%;
  }
  #passengerdetailspage .col-md-4.col-sm-4.travel-time-duration,
  #bookingDetailsPreview .col-md-4.col-sm-4.travel-time-duration {
    width: 280px;
  }
}

@media (max-width: 360px) {
  #passengerdetailspage .origin-flight.mtmh_left-right0,
  #passengerdetailspage .col-md-2.col-sm-2.flight-tkt.mtmh_left-right0 {
    width: 100px !important;
    text-align: left;
    font-size: var(--fontSize-12);
    padding: 3px;
  }
  /* .home-page-search ul.select-catecgory {
    position: relative;
    top: 0px;
    right: 5px;
  } */
  .home-page-search .nonstop {
    position: relative;
    /* right: -2px; */
  }
}

@media (max-width: 370px) {
  #mainCaptcha {
    letter-spacing: 1px;
  }
}
@media (max-width: 767px){
  footer {
    display: block !important;
    position: relative;
    width: 100%;
  bottom: 0;
  right: 0;
  left: 0;

}
footer p a {
  width: 33%;
  display: inline-block;
  padding: 0px;
  text-align: start !important;
}
/*footer .powered-by {
  position: absolute;
  bottom: 1px;
  right: 83px;
}*/
footer .powered-by {
  position: inherit;
  float: right;

}
footer p {
  text-align: center;
  color: #c7d3f0;
   margin:inherit; 
  /* min-height: 89%; */
}
.banner-with-login {
  padding: 20px 0px;

}
}