@media (max-width: 760px) {

  .forhr {
    position: absolute;
}

  .rowes {
    margin-top: 25;
    border-bottom: 1px solid #eee;
}


  #passengerdetailspage .flight-tkt,
  #bookingDetailsPreview .flight-tkt {
    width: 120px;
  }

  #passengerdetailspage .origin-flight.mtmh_left-right0 {
    width: 30%;
    text-align: left;
  }
  #passengerdetailspage .col-md-4.col-sm-4.travel-time-duration,
  #bookingDetailsPreview .col-md-4.col-sm-4.travel-time-duration {
    text-align: center;
    margin: 43px auto 10px auto;
    border-radius: 4px;
    background: #eefbff;
    width: 300px;
  }
   #bookingDetailsPreview .col-md-4.col-sm-4.travel-time-duration {
     width: auto !important;
}
  #bookingDetailsPreview .sector-details-row .col-md-2.col-sm-2.origin-flight {
    right: 27px !important;
}

  #bookingDetailsPreview .col-md-2.col-sm-2.flight-tkt.mtmh_left-right0 {
    position: absolute;
    right: 18px !important;
    top: 0px;
}

  #passengerdetailspage .col-md-2.col-sm-2.flight-tkt.mtmh_left-right0 {
    position: absolute;
    right: 30px;
    top: 0px;
  }

  #passengerdetailspage .col-md-2.col-sm-2.flight-tkt.mtmh_left-right0 span, .preview-destination-flight .flight-tkt span{
    text-align: right !important;
  }
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .price_col {
    width: 86% !important;
  }
  .log-field-icon {
    margin-top: 40px;
  }
  .onoffswitch {
    margin-right: 50px;
  }
  .row-margin {
    overflow: hidden;
  }
}