.raisePaymentGrid {
  /* display: grid; */
  grid-template-columns: 3fr 1fr;
}
.qrCodeScan {
  padding: 20px;
}


@media (min-width:1024px){
  .box-footer.action-btns {
    white-space: break-spaces;
    }

    .box-body {
      height: auto !important;
      overflow: hidden !important;
     }
}