.balance.due,
.balance.balance {
  display: block;
}

.Customer-support .fa-Customersupport.icon-image {
  width: 19px;
  height: 22px;
}
@media (max-width: 770px) {
  .displayNone {
    display: none;
  }
  .top-navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .show-balance-icon {
    border: 1px solid #30426a;
  }
  .device-customer-info i {
    color: #30426a !important;
  }
  .device-menu-icon .lnr-menu {
    color: #30426a !important;
  }
}
