/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*, ::after, ::before {
box-sizing: border-box;
}
body,p {margin:0;padding:0} 
html {
    height: 100%;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
    color: #374767;
    background-color: #f1f3f6;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}
.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.wrapper:after {
    clear: both;
}
.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
.traicecl {width: 880px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0; border: 1px solid #ccc; border-radius: 2px;}
		
.content-wrapper,
.right-side,
.main-footer {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -webkit-transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    z-index: 820;
}
.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
    margin-left: 0;
}
.border-drop{
    box-shadow:0px 0px 10px 0px#ddd!important ;
}
.sidebar-menu > li > a > img {
    width: 18px;
	margin-right: 10px;
}
@media (max-width: 767px) {
    .content-wrapper,
    .right-side,
    .main-footer {
        margin-left: 0 !important;
    }
}
@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .right-side,
    .sidebar-collapse .main-footer {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .right-side,
    .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
}
.content-wrapper,
.right-side {
    min-height: 100%;
    z-index: 800;
    background-color: #f7fbff;
    padding-top: 108px;
}
.main-footer {
    background: #dedede;
    padding: 15px;
    color: #000;
    border-top: 1px solid #d2d6de;
    text-align: center;
font-size:13px;
}
/*--- Fixed layout ---*/

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed;
}
.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 60px;
}
@media (max-width: 767px) {
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 120px;
    }
}
.fixed.layout-boxed .wrapper {
    max-width: 100%;
}
body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header .navbar,
body.hold-transition .main-header .logo {
    /* Fix for IE */
    
    -webkit-transition: none;
    transition: none;
}
/*--- Content ---*/

.content {
    min-height: 230px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 25px 10px;
    background: #f7fbff;
    padding-top: 20px;
}
@media (max-width: 767px) {
    .content {
        padding: 15px 15px 10px !important;
    }
}
/*--- Selection ---*/

::-moz-selection {
    color: #fff;
    background: #009688;
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #009688;
    text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', sans-serif;
    margin-top:0;
    margin-bottom:0;
}
p {
    margin: 0 ;
   font-family: 'Poppins', sans-serif;
}
/* General Links */

a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

hr {
    border-top: 1px solid #e1e6ef;
}
.m-0 {
    margin: 0;
}
.m-t-0 {
    margin-top: 0px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-2 {
    margin-right: 2px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-b {
    margin-bottom: 20px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.p-0 {
    padding: 0;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-20 {
    padding: 20px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.space-25 {
    margin: 12.5px 0;
    line-height: 0;
}

.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}
.page-header > small {
    color: #666;
    display: block;
    margin-top: 5px;
}
.main-header {
    position: relative;
    max-height: 120px;
    z-index: 1030;
}
.main-header .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 60px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.20);
}
.layout-top-nav .main-header .navbar {
    margin-left: 0;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right;
    margin-right: 9px;
    margin-bottom: -1px;
}
.icon_fontweasome p{
    font-size:14px;
}
.nav-item.dropdown.dropdown-user img {
    width: 45px;
    height: 45px;
}
@media (max-width: 991px) {
    .main-header .navbar-custom-menu a,
    .main-header .navbar-right a {
        color: inherit;
    }
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 7px;
    }
    .custom_pills4 .nav-pills .nav-link, .nav-pills .show > .nav-link {
        margin-top: 6px!important;
    }
    .sideways a {
        margin-left: 8px!important;
    }
    .sideways2 a {
        margin-right: -37px!important;
    }
}
@media (max-width: 767px) {
    .main-header .navbar-right {
        float: none;
    }
    .navbar-collapse .main-header .navbar-right {
        margin: 7.5px -15px;
    }
    .main-header .navbar-right > li {
        color: inherit;
        border: 0;
    }
    .main-header .navbar-custom-menu,
    .main-header .navbar-right {
        float: right;
        margin-right: 10px;
    }
}
.main-header .sidebar-toggle {
    float: left;
    background-image: none;
    padding: 0px;
    font-size: 26px;
    line-height: 26px;
    margin-right: 2px;
}
.main-header .sidebar-toggle .icon-bar {
    display: none;
}
a.sidebar-toggle .pe-7s-angle-left-circle:hover {
    color: #009688;
    font-weight: 500;
    font-size: 28px;
}
a.sidebar-toggle .pe-7s-angle-left-circle {
    font-weight: 500;
    font-size: 28px;
}
.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
    margin-right: 5px;
}
.main-header .navbar .navbar-custom-menu > ul > li > a > .label {
    position: absolute;
    top: 6px;
    right: 7px;
    border-radius: 50em;
    height: 18px;
    width: 18px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.main-header .logo {
    display: block;
    float: left;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    background-color: #0533b2;
    color: #241d1d;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border-bottom: 2px solid #0533b2;
}
.main-header .logo .logo-lg {
    display: block;
}
.main-header .logo .logo-lg img,
.main-header .logo .logo-mini img {
    height: 44px;
	margin-top:5px
}
.main-header .logo .logo-mini {
    display: none;
}
.main-header .navbar-brand {
    color: #fff;
}

.menu {
    background: #e5f3ed;
}

@media (max-width: 550px) {
    
    .main-header .sidebar-toggle {
        float: left;
        background-image: none;
        padding: 16px 4px;
        color: #374767;
        font-size: 24px;
        line-height: 26px;
        margin-right: 0px;
    }
    .content-header .header-title h1 {
        margin: 0;
        font-size: 18px;
    }
    .content-header {
        margin-bottom: 20px;
    }
}

.navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 15px;
}

@media (max-width: 767px) {
    .content-header {
        padding: 16px 16px;
        margin-bottom: 20px;
    }
    .nav > li > a > img {
        max-width: none;
        margin-top: -4px;
    }
    .content-header .header-icon {
        width: 50px;
        font-size: 40px;
    }
    .content-header .header-title {
        margin-left: 50px;
    }
    .main-header {
        position: relative;
    }
    .main-header .logo,
    .main-header .navbar {
        width: 100%;
        float: none !important;
    }
    .main-header .navbar {
        margin: 0 !important;
    }
    .main-header .navbar-custom-menu {
        float: right;
    }
    .navbar-custom-menu .navbar-nav > li > a {
        padding-bottom: 6px;
    }
.hidden_hidden{
    display: none!important;
}

}
@media (max-width: 991px) {
    .navbar-collapse.pull-left {
        float: none !important;
    }
    .navbar-collapse.pull-left + .navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
    }
}


.main-sidebar {
    position: absolute;
    top: 108px;
    left: 0;
    padding-top: 60px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: #0533b2;
}
@media (max-width: 767px) {
    .main-sidebar,
    .left-side {
        padding-top: 120px;
    }
}
@media (max-width: 767px) {
    .main-sidebar,
    .left-side {
        -webkit-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}
@media (min-width: 768px) {
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .left-side {
        -webkit-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .custom_option_sel{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .sidebar-open .main-sidebar,
    .sidebar-open .left-side {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar-form input:focus {
    border-color: transparent;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: #B5C4EA;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
	display: flex;
    align-items: center;
}
.sidebar-menu > li > a > i {
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
}
.sidebar-menu > li.active > a::after {
    content: '';
    width: 3px;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 14px;
}
.sidebar-menu > li.active > a:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
    color: #fff;
    background:#1e45b6;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-right: 5px;
}
.sidebar-menu > li .badge {
    margin-top: 3px;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #fff;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
    display: block;
}
.sidebar-menu .treeview-menu {
    position: relative;
    display: none;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    padding-left: 35px;
    background-color:#032a96;
}
.sidebar-menu .treeview-menu:before {
    width: 2px;
    bottom: 0;
    background:rgb(177 192 208 / 35%);
    content: "";
    position: absolute;
    top: 0;
    left: 33px;
}
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
    margin: 0;
    position: relative;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 20px;
    display: block;
    color: #B5C4EA;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 12px;
}
.sidebar-menu .treeview-menu > li > a:hover {color:#fff}
.sidebar-menu .treeview-menu li.disabled a {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.sidebar-menu .treeview-menu > li.active > a
{
  color: #009688;
  font-weight: 600;
}
.sidebar-menu .treeview-menu > li.active
{
  color: #009688;
  font-weight: 600;
}
.sidebar-menu .treeview-menu > li::before {
    left: 0;
    top: 13px;
    width: 15px;
    content: ' ';
    position: absolute;
    display: inline-block;
    border: 1px solid rgb(177 192 208 / 35%);
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}
/*--- Component: Sidebar Mini ---*/

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px;
        z-index: 840;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px;
        z-index: 850;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        margin-right: 0;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        display: block !important;
        position: absolute;
        width: 200px;
        left: 50px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
        top: 0;
        margin-left: 0px;
        padding: 13px 5px 12px 20px;
        background-color: inherit;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        float: right;
        width: auto!important;
        left: 200px!important;
        top: 10px!important;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        top: 44px;
        margin-left: 0;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
    .sidebar-mini.sidebar-collapse .sidebar-form,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu:hover {
    overflow: visible;
}
.sidebar-form {
    border-radius: 3px;
    border: 1px solid #1c1f22;
    margin: -20px 0px;
}
.sidebar-form,
.sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu > li.header {
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px solid rgba(59, 70, 72, 0.5);
    color: #a6a6a6;
}
.sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}
.form-control::-moz-placeholder {
    color: gray;
    opacity: 1;
    font-weight: 500;
}



.open:not(.dropup) > .animated-dropdown-menu {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: flipInX 0.7s both;
    animation: flipInX 0.7s both;
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
/* Fix dropdown menu in navbars */
@media (max-width: 499px) {
    .tab-content .panel-body {
        background: #fff;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        margin-top: 15px;
    }
    .full_tab_content{
        margin-top:30px;
    }
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0 1rem;
}
.emt_nav_b2b {
    float: left;
}
.sidebar-toggle img {transition:.5s}
.fliphrz {transform:rotate(180deg);}
.emt_nav_b2b ul { margin: 0; float: left; padding: 0 }
.emt_nav_b2b ul li { margin: 0; list-style: none; border-right: 1px solid #D3D7DD; position: relative; float: left; }
.emt_nav_b2b ul li:last-child { border-right: 0 }
.emt_nav_b2b ul li a {
    font-size: 13px;
    color: #1882FF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 7px;
}
.emt_nav_b2b ul li a:hover { color: #1882FF;}
.acnt_bal {
    border: 1px solid #1882FF;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 6px 7px;
	font-size:13px;
	font-weight:400
}
.notibx {
    border: 1px solid #D3D7DD;
    border-radius: 7px;
    display: flex;
	align-items:center;
	justify-content:center;
    padding: 6px 8px;
	position:relative;
	cursor:pointer
}
.notifydot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1882FF;
    position: absolute;
    top: 4px;
    right: 6px;
    border: 2px solid #fff;
}
.profilesec:hover .dropdown-menu3 { max-height: 450px; }
.profilesec {
    display: flex;
    font-size: 12px;
    margin-left: auto;
    align-items: center;
    float: right;
    margin-top: 10px;
    cursor:pointer
}
.grey_clr {
    margin: 0;
    color:#8F9198
}
.dropdown-menu3 {
   
    position: absolute;
    width: 180px;
    z-index: 1001;
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in;
    -webkit-transition: max-height 0.4s ease-in;
    top: 59px;
    right: 50px;
    box-shadow:  0 0 5px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-box-shadow:  0 0 5px rgba(0,0,0,.25);
    background: #fff;    border-radius: 5px;
}
.dropdown-menu3 { display: block;}

.signup_pnl { width: 100%; float: left; padding: 0 10px }
.booking_pnl { width: 100%; float: left;    }
.sb_link_drpdn {transition:text-indent .7s; position: relative; padding: 12px 10px 12px 22px; width: 100%; float: left; text-decoration: none; color: #000; font-size: 13px; }
.sb_link_2 {transition:text-indent .7s;position: relative;padding: 10px 0px 10px 15px;width: 100%;float: left;text-decoration: none;color: #000;display: flex;font-size: 13px;border-bottom: 1px solid #EBF8FD;align-items: center;}
.sm_mg{background: url(../img/profile.svg) no-repeat;height:14px;width: 16px;display:inline-block;margin-right:5px;background-position: 0px 3px;}
.sm_mg2{background: url(../img/change-pass.svg) no-repeat;height: 14px;width: 16px;display:inline-block;margin-right:5px;background-position: 0px 0px;}
.sm_mg3{background: url(../img/setting.svg) no-repeat;height:14px;width: 16px;display:inline-block;margin-right:5px;background-position: 0px 2px;}
.sm_mg4{background: url(../img/user-manage.svg) no-repeat;height: 18px;width: 16px;display:inline-block;margin-right:5px;background-position:0px 4px;}
.sm_mg5{background: url(../img/reports.svg) no-repeat;height: 21px;width: 16px;display:inline-block;margin-right:5px;background-position:0px 4px;}
.sm_mg6{background: url(../img/exit.svg) no-repeat;height:14px;width:14px;display:inline-block;margin-right:5px;background-position:0px 4px;opacity: .2;}

.sb_link_drpdn:before { content: ""; border-left: 4px solid #000; border-top: 4px solid transparent; border-bottom: 4px solid transparent; margin: 0; position: absolute; left: 10px; top: 40%; }
.booking_pnl2 {width: 100%;
    float: left;
    margin-bottom: 7px;}
.sb_link_2:hover,.sb_link_drpdn:hover {text-decoration:none;color:#333;background: #EBF8FD;}
.sb_link_2:hover i {filter: brightness(1) invert(1);transition:0.5s}
.sb_link_2:hover .sm_mg6 {filter:brightness(1) invert(0);opacity:1}
.profilesec:hover .dropdown-menu3 { max-height: 450px; }
.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 11em;
}
.notificatioBx {
    position: absolute;
    width: 290px;
    z-index: 9999;
    overflow: hidden;
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    top: 59px;
    right: 190px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
    background: #fff;
    border-radius: 5px;
    display: none;
}
.notihed {padding:12px;border-bottom:1px solid #D9E4F5;display:flex;justify-content:space-between;font-size:12px}
.noticount {
    width: 19px;
    height: 19px;
    background: #1882FF;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    line-height: 19px;
    font-weight: 600;
}
.inrpd12 {padding:12px}
ul.notilist::-webkit-scrollbar {
  width: 7px;
}
ul.notilist::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
ul.notilist::-webkit-scrollbar-thumb {
  background: #888; 
}
ul.notilist::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
ul.notilist {
    margin: 0;
    padding: 0;
    max-height: 190px;
    overflow: auto;
}
ul.notilist li::before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #1882FF;
    position: absolute;
    top: 4px;
    left: 0;
    content: '';
}
ul.notilist li {
    margin: 0 0 15px 0;
    padding: 0px 0 0 20px;
    list-style: list-item;
    display: block;
    position: relative;
}
ul.notilist li:last-child {margin-bottom:0}
.notitx {font-size:12px;}
.notihr {
    font-size: 11px;
    color: #BBC3CD;
    display: block;
}
.vieallnoti {background:#EBF8FD;border-radius:0 0 5px 5px;padding:10px;text-align:center;font-size:12px;color:#1882FF;font-weight:600}

/*Inner Dashbord*/
.leftcol {width:68%}
.rightcol {width:30%}
.mainhead {font-size:19px;font-weight:600;}
.boxgroup,.flx_jsb {
    display: flex;
    justify-content: space-between;
}
.boxtop {width:24%;border:1px solid #D9E4F5;border-radius:15px;padding:15px;background:#fff;position:relative;overflow:hidden;transition:transform .7s ease-in-out}
.tpbld {font-size:30px;font-weight:600;position: relative;
    z-index: 2;}
.tpsbld {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.boxtop::after {
	content:'';
    width: 150px;
    height: 150px;
    background: #E9F4FF;
    border-radius: 50%;
    position: absolute;
    bottom: -62px;
    right: -55px;
    z-index: 1;
}
.arrowcr {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: url(../img/toparrow.svg) no-repeat;
    z-index: 3;transition:transform .3s ease-in-out
}
.boxtop:hover .arrowcr{transform: rotate(46deg);}
.outerbx {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
	border:1px solid #D9E4F5;
    border-radius: 10px;
    margin-bottom: 20px;
	background:#fff
}
.tle_tp {
    color: #202020;
    font-size: 18px;
    font-weight: 500;
}
.upcmg_trp{width:100%;display:flex;justify-content:space-between;align-items: center;}
.vw_al_btn{border:1px solid #1882FF;color:#1882FF;text-align:center;cursor:pointer;border-radius: 4px;padding: 5px 15px;font-size: 12px;}
.vw_al_btn:hover{background:#1882FF;color:#fff;}
.trp_dt{width:100%;border:1px solid #E5E5E5;border-radius:5px;margin: 15px 0px;}
.trp_frt{width:100%;display:flex;align-items: center;justify-content: space-around;padding: 20px 0px;}
.arl_dtl{width: 19%;display:flex;align-items: center;}
.flt_nm_nbr{display:flex;flex-direction:column;}
.arln_nm{font-size:15px;font-weight:600;padding-bottom: 5px;}
.flt_nm_nbr span,.org_dst span{font-size:11px;color:#767474;}
img{max-width:100%;}
.ar_logo{display:flex;width:50px;}
.org_dst{width:21%;display:flex;flex-direction:column;}
.tm_dt{font-size:15px;font-weight:600;padding-bottom: 5px;}
.tm_dt span{font-size:11px;color:#767474;font-weight:400}
.flt_drtn{width: 20%;display:flex;flex-direction:column;}
.tm_stp{font-size:11px;color:#767474;text-align: center;}
.iconcity {
    width: 115px;
    position: relative;
    border-top: 1px dashed #B9B9B9;
    margin:15px 0px 0;
    left: 13px;
}
.iconcity:before {
    content: '';
    background: #B9B9B9;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: -3px;
    border-radius: 50px;
}
.plne_icn {
    position: absolute;
    top: -10px;
    left: 47px;
}
.iconcity:after {
    content: '';
    background: #B9B9B9;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 0;
    top: -3px;
    border-radius: 50px;
}
.trp_dwn{background:#DFF5FF;display:flex;justify-content:space-between;}
.bkng_dt_nbr{width: 77%;display:flex;}
.bkg_dt{font-size: 12px;padding: 0px 15px 0 15px;display: flex;align-items: center;}
.bkg_dt img{margin-right: 7px;width: 17px;}
.brdr_rt{border-right:1px solid #D0DDE2;}
.vw_mnge {
    font-size: 13px;
    color: #1882FF;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #1882FF;
    border-radius: 7px;
}
.crdt_vlue{width:100%;background-image:linear-gradient(to right, #032BAA, #1882FF);border-radius:10px;padding: 20px;justify-content: space-between;box-shadow: 0 0 4px rgb(0 0 0 / 15%);position:relative;overflow:hidden}
.crdt_vlue::before {
    width: 304px;
    height: 290px;
    position: absolute;
    top: -180px;
    right: -70px;
    background: url(../img/tringle-shape.svg) no-repeat;
    content: '';
}
.crnt_bal{display:flex;flex-direction:column;color: #fff;}
.ttl_prce{font-size:30px;}
.ttl_prce span{font-weight:700;}
.crnt_bal p{font-size:14px;padding: 5px 0 10px;}
.up_dwn_ttl{font-size:14px;color:#c0ccf2;cursor:pointer;}
.lgt_grn{color:#00FF3C;}
.ad_crdt_btn {
    background: rgba(255,255,255,.4);
    display: flex;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
.clndr{width:100%;box-shadow:0 0 4px rgb(0 0 0 / 15%);border-radius:10px;padding:20px;margin-top:20px;background:#fff}
.clndr p{font-size:18px;padding:0 0 10px;}
.cal_box{width:100%;}
.mnth_dt{width:100%;position:relative;text-align:center;}
.mnth_dt span{font-size:15px;font-weight:600;}
.arw_lft{background:url(../img/left-arrow-cl.svg) no-repeat;top: 5px;display: inline-block;width: 16px;height: 17px;left: 0px;position: absolute;cursor:pointer}
.arw_rgt{background:url(../img/right-arrow-cl.svg) no-repeat;top: 5px;display: inline-block;width: 16px;height: 17px;right: 0px;position: absolute;cursor:pointer}
.clndr_mn{width:100%;}
.date_slct{display:table;width:100%;}
.date_slct th{font-size:15px;font-weight:600;padding: 20px 0px;}
.date_slct td{text-align:center;font-size:15px;cursor: pointer;}
.spcl_dt{color:#00A4D5;background:#CCEDF7;padding: 5px;border-radius: 50px;font-weight:600;width: 36px;height: 36px;}
.container_menu {display:none}
.bar1, .bar2, .bar3 {
    width: 22px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: .4s;
}
.bar2 {
    width: 16px;
    margin: 0 auto;
}
.notibx_top {
    border: 1px solid #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    position: relative;
    cursor: pointer;
	display:none;
	height:36px;
}
#shwnotibx{display:none;}
.ad_crdt_btn a{color:#fff;display:flex;}

@media (max-width: 550px) {
	.mflex {
    display:flex;
    flex-flow:wrap;
	justify-content: space-between;
}
.sidebar-toggle {display:none}
.acnt_bal img{display:none;}
.acnt_bal{margin:10px 0;font-size:11px;width: 100%;text-align:center;padding: 6px 0px;}
.wt500{font-weight:500;}
.stemnt{display:none;}

.notibx_top {display:block;
    position: absolute;
    top: 13px;
    right: 15px;}
.container_menu {display:inline-block;
    position: absolute;
    top: 19px;
    left: 15px;}
.emt_nav_b2b {display:none}
   

.boxgroup, .flx_jsb {
    flex-flow: row wrap;
}
.menudetails ul {   
    width:860px;
}
.icsms, .icemtic, .iceticket, .iccancel, .icresche{display:none;}

.maintickit {   
    display: flex;
    flex-flow: column;   
}
.leftcol,.rightcol {
    width: 100%  !important;
}
.secdtnew {
    width: 100%;
}
.firstnew {
    width: 100%;
}
.staustic {
    margin-left: inherit;
}

.tabldet {    
    overflow: auto;
}
.marchmaintb {
    display: flex;
    flex-flow: column;
}
.boxtop {
    width:47%;
    margin-bottom: 12px;
}
.trp_frt {
    width: 100%;
    flex-flow: row wrap;
	padding:10px
}
.arl_dtl {
    width: 100%;
}
.org_dst {
    width: 35%;
}
.flt_drtn {
    width: 29%;
}
.iconcity {display:none}
.trp_dwn {
    flex-flow: row wrap;
    padding: 10px;
}
.bkng_dt_nbr {
    width: 100%;
    flex-flow: row wrap;
}
.bkg_dt {
    margin-bottom: 5px;
	padding:0
}
.vw_mnge {
    width: 100%;
}
.main-header .sidebar-toggle {
    position: absolute;
    top:19px;
    left:15px;
    padding: 0;
}
.outerbx {margin-bottom:0}
.mainhead {font-size:17px !important;} 
.notificatioBx {
    top: 119px;
    left: 10px;
}

/*booking-list-mob*/
.marchmain {
    display: flex;
    align-items:flex-start !important;
    flex-flow: column;
}
.inter-lik {
    margin-left: inherit;
    font-size: 12px;
	margin-top: 10px;
}
.content2 {padding:20px 25px 0px;}
.tabnewd {
    width: 100% !important;
    margin-top: 25px;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 6px;
}
.tabnewd ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
}
.new-b2b-flex {
    display: flex;
    flex-flow: column;
}
.libtn {
    margin-left: auto;
    border: 1px solid #1882FF;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #1882FF;
    justify-content: center;
    width: 100%;
}
.inserch {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 10px;
	flex-flow: column;
}
.bx_fld {
    
    flex-flow: column;
}
.sldhty {
    font-size: 14px;
}
.inter-lik {
    margin-left: inherit !important;
    font-size: 13px;
}
.selet {
   
    font-size: 13px;
}
.sngl_bx {
    width: 100% !important;
    margin: 0 0 10px 0;
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 100% !important;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.new-b2b-all_btns {
    display: flex;
    width: 100%;
    flex-flow: column;
}
.new-b2b-blu_bt {
    font-size: 14px;
    color: #fff;
    background: #0E7EEF;
    border-radius: 5px;
    border: 1px solid #0E7EEF;
    padding: 10px 32px;
    cursor: pointer;
    display: flex;
    width: 100% !important;
    margin: 0 8px 0 0;
    justify-content: center;
    align-items: center;
}
.new-b2b-blue_bt {
    text-align: center;
    font-size: 14px;
    color: #0E7EEF;
    background: #fff;
    border-radius: 5px;
    padding: 13px 30px;
    border: 1px solid #0E7EEF;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    display: flex;
	margin:0px 0 0;
}
.ststra {
    width: 100%;
}
.mobnewt{margin-left: inherit;}
.mrg-mob-10 {margin:10px 0;}
.mob-mar10 {margin:10px 8px 0 0;}
.new-wid1300 {
    margin: 30px auto;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 441px;
    max-height: 252px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
}
.mob-colm {
    flex-flow:column;
}
.cardsc {
    width:48%;
    text-align:left;
	height:100px;
	padding:10px;
}
.cardttl{font-size:14px;}
.mgt20 {margin-top:15px;}
.mgr10 {margin-right:0;}
.bluebtn {margin-bottom:10px !important; }
.marcsearch {overflow-x: scroll;}
.menudetails li{padding:5px;}
.nm_nmbr_exp {
    width: 100% !important;
}
.modal-content-pp {
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    width: 91% !important;
    position: relative;
    padding: 15px;
}
.newty table {
    border: 1px solid #ECECEC;
    font-size: 13px;
    overflow: auto;
    width: 100%;
    display: block;
}
.form__group_v1 {
    
    width: 100% !important;
    
}
.pascalnew {
    margin: 20px 0 0 0;
    overflow: auto;
}
.tabcre {
    margin: 10px 0;
    overflow: auto;
}
.extrdv {
    overflow: auto;
}
.mn_bx_tb {
    width: 100% !important;   
    overflow: auto;
}
.mn_hd_prt {
    width: 1200px !important; 
   
    overflow: auto;
   
}
.com_fld {
    width: 100%;
    font-size: 12px;
}
.fn_fld_bx {width: 1300px !important;}
.mn_hd_prt {
    width: 1300px !important;
}
.mn_bx_tb {overflow:auto;}
.nwjsb {justify-content: inherit !important;}

.mobmhu { width: 100%!important;}
.mobcd-gn { margin:0;} 
.poup {   
    z-index: 1035 !important;  
}
.tab {overflow:auto!important; }
.pop_cont_sm {
    margin: 0 auto;
    width: 100% !important;
    background: var(--white);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.crd_head {
    width: 100% !important;
}
.wid100-mrk  { width:100%!important;}
.crd_mn_fl {
    width: 100% !important;
    margin: 0 auto !important;
   padding: 20px 15px;
}
.calpassenger td, .table th, table td, table th {
    white-space: nowrap;
    width: auto;
}
.ui-widget.ui-widget-content {    
   max-height: 350px !important;
    height: auto;
}
.newmainh {
    display: flex;
    flex-flow: column;
}
.bunedt {
    width: 100% !important;
    display: flex;
    flex-flow: column;
}
.btnbusf {
    width: 100%;
    margin-left: inherit;
}

/*booking-list-mob*/

.fwrap{flex-flow:row wrap !important;}

.modal-content-newb2b {
    background-color: #fefefe;
    margin: 0 auto 20px;
    padding: 0;
    width: 96%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.b2btable {
    overflow: auto;
}
.b2bradio {
    padding: 10px 10px;
}
.btencan {
    margin: 10px 0 !important;
    width: 50%;
    
}
.btencan_nw {
    margin: 10px !important;
    
}
.t-cb2b2b ul {
    margin: 0 0 0 18px;
    padding: 0;
}
.pd0{padding:0;}
.wid51p {
    width: 100%;
}
.fl_clm{flex-direction:column;overflow:hidden;}
.flx_end {
    justify-content: end;
    display: flex;
    width: 100%;
}
.tp_ltxt_mob{width:100%;text-align:left;}

.traicecl {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.slider-ba {display: none;}	
}

.slider-wrap {
    position: relative;
    margin: 20px auto;
    width: 100%;
    float: left;
}

.slider-wraps {
    position: relative;
    margin: auto;
    width: 100%;
    float: left;
}

.slider, .bnrslider {
    position: relative;
    width: 100%;
    margin: auto;
}

    .slider ul, .bnrslider ul {
        margin: 0;
        padding: 0;
    }

        .slider ul li, .bnrslider ul li {
            list-style: none;
            text-align: center;
            border-radius: 20px;
            position: relative;
        }

            .slider ul li span {
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 100px;
                background: black;
            }

            .slider ul li img {
                width: 100%;
                object-fit: cover;
                background-position: center;
                background: #fff;
                position: relative;
                border-radius: 20px;
            }


.slider-arrow {
    position: absolute;
    top: 42%;
    width: 50px;
    height: 50px;
    background: black;
    color: #fff;
    border: 8px solid #d9d9d9;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.slider-ba {
    position: absolute;
    top: 35%;
    width: 25px;
    height: 25px;    cursor: pointer;
    background: #000;
    color: #b1b1b1;
    /* border: 2px solid #b1b1b1; */
    font-size: 17px;
    text-align: center;
    z-index: 9999;
    text-decoration: none;
    border-radius: 50%;
}

.ba-left:before {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate( 135deg );
    -webkit-transform: rotate( 135deg );
    position: relative;
    right: -2px;
    top: -1px;
    content: "";
}

.ba-right:before {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate( -45deg );
    -webkit-transform: rotate( -45deg );
    position: relative;
    right: 2px;
    top: 0px;
    content: "";
}

.ba-left, .na-left {
    left: -10px;
}

.ba-right, .na-right {
    right: -10px;
}
.bnrslider ul li img {
    width: 100%;
    object-fit: cover;
    background-position: center;
    background: #fff;
    position: relative;
    border-radius: 10px;
}

.lft-p {
    top: -70px;
    font-size: 20px !important;
    position: absolute;
    font-weight: 500 !important;
    color: #000 !important;
}
    .tooltip {
        position: relative;
        opacity: 1 !important;
        display: table-cell !important;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            left: -37px;
            top: 45px;
            font-size: 11px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    .tooltip-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 9px;
        border-style: solid;
        border-color: transparent transparent #000000 transparent;
        transform: translate(-50%, 0px);
    }

.imgedr {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.outerbx {
    width: 100%;
    padding: 20px;
    margin: 0;
    border: 1px solid #D9E4F5;
    border-radius: 10px;
    margin-top: 10px;
    background: #fff;
    float: left;
}