@media screen and (max-width: 760px) {
  .scrol {
    overflow: auto;
  }
  .flt-tkt-issue {
    padding-top: 0px;
  }
  .tinenarydetailsbox {
    top: 60;
  }
  .invoice-customer-info .mobile-view {
    margin-bottom: 25;
  }
  .tkt-issueinfo {
    text-align: center;
  }
  .tkt-flightname {
    text-align: left;
  }
  .dep-info {
    margin-top: 25;
  }
  .printMain {
    display: none;
  }
  .ticketPrintButtonSpace {
    height: 40px;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
  -webkit-print-color-adjust: exact;
}

.width90per {
  width: 70%;
}

.width90per .modal-body {
  padding: 0px;
}

.width90per .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0;
}

.table td,
.table th {
  background-color: #000 !important;
}

.flt-tkt-issue {
  margin-top: 50px;
  padding-bottom: 30px;
  background: #fff;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-shadow: 0 2px 4px 0 #c8c8c8;
  -moz-box-shadow: 0 2px 4px 0 #c8c8c8;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}

.flt-tkt-issue .tkt-issue h6 {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 1.1em;
}

@media print {
  .flt-tkt-issue {
    margin-top: -50px;
  }
  .row2 {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .ml-20 {
    margin-left: 0px !important;
  }
  .tkt-flightname,
  .tkt-origin,
  .tkt-duration {
    float: left !important;
  }
  .tkt-flightname {
    width: 150px !important;
  }
  .tkt-origin {
    width: 150px !important;
  }
  .tkt-duration {
    width: 100px !important;
  }
  .tkt-issueinfo {
    height: 100px !important;
  }
  #flightitinenarydetails .table-condensed > tbody > tr > td {
    padding: 4px;
  }
  .box-footer2 {
    display: none !important;
  }
  .flt-tkt-issue hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 0px solid #eee;
  }
  .issue-Pnr {
    width: 200px;
  }
  .issue-traveldate {
    width: 200px;
  }
  .issue-bookingdate {
    width: 200px;
  }
  .issue-bookingid {
    width: 200px;
  }
  .marginTicketReciept {
    margin-top: 40px;
  }
  @media screen {
    #printSection {
      display: none;
    }
  }
  @media print {
    body * {
      visibility: hidden;
    }
    #printSection,
    #printSection * {
      visibility: visible;
    }
    #printSection {
      position: absolute;
      left: 0;
      top: 0;
    }

    @page {
      size: A4; /* auto is the initial value */
      margin-top: 0; /* this affects the margin in the printer settings */
    }
  }
}

.cabin-class {
  margin-left: 68px;
}
