
{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/goyalweb.html" %}


{% block title %}
{{ _("Goyal Group | Steam Coal - Pig Iron - Foundry Scrap - Foundry Solutions - Foundry Coke") }}
{% endblock %}

{% block page_content %}
     
<div class="cont_strip tbofullwidth"></div>

<div class="inner_pg tbofullwidth">
    <div class="tbocontainer clearfix">
        <div class="tborow">
     
<div class="tbo l8 m7 s12">
                    <h2 class="inner_heading">Contact Us</h2>
                    <p>For any queries/details/remarks please feel free to contact the undersigned:</p>
                    <p><ul>
                        <li>Company: Goyal Coal Private Limited</li>
                        <li>Sales Queries: sales@goyalironsteel.com</li>
                        <li>Operations Queries: commercial@goyalironsteel.com</li>
                    </ul>  </p>
                    
                </div>
     <div class="tbo l4 m5 s12">
     </div>

            </div>
        </div>
     
    </div>



{% endblock %}