
{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/goyalweb.html" %}


{% block title %}
{{ _("Goyal Group | Steam Coal - Pig Iron - Foundry Scrap - Foundry Solutions - Foundry Coke") }}
{% endblock %}

{% block page_content %}
<section class="content">
    <div>
                    <h2 class="inner_heading">Welcome to Goyal Group!</h2>
                    <p>Goyal Group, by virtue of its entrepreneurial skills, innovative strategies and seamless execution, is emerging as one of the fastest growing and leading private sector organisations in India. With a mere scrap trading activity since inception, We have turned out to be a versatile Global Company with presence in every core sector of the economy such as Steel, Coal, Foundry Solutions, Education etc, with reach and presence in every part of India.</p>
                    <p>Goyal Group is one of the leading integrated steel traders and one of the largest private sector trader of Pig Iron and Steam Coal in India. Ever since our inception, we have always looked at things differently. When the world saw possibilities, we saw opportunities. The companys strengths lie in its integrated process management, knowledge management and control systems. Its staff of highly skilled engineers, technicians and managers with specialised domain knowledge, ensure seamless supply chain management systems. As it rapidly forges ahead on all these fronts, GISNPL has successfully reinforced its position as market leader, while simultaneously making technological breakthroughs and setting even higher standards for itself.</p>
    </div>
</section>
{% endblock %}