{% extends "templates/goyalbase.html" %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="<?=base_url('/')?>"><b><?=settings()->company_name;?></b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg xl"><span class="icofont-ui-user xl"></span></p>
    <p class="login-box-msg">Sign in to start your session</p><br>
    <form action="<?=base_url('login/index')?>" method="post">
      <input type="hidden" name="<?=$this->security->get_csrf_token_name()?>" value="<?=$this->security->get_csrf_hash()?>" />
      <div class="form-group has-feedback <?=form_error('username') ? 'has-error' : ''?>">
        <label><?=$this->lang->line('login_username')?></label> <span class="text-red">*</span>
        <input type="text" class="form-control" name="username" value="<?=set_value('username')?>"/>
        <i class="icofont-ui-user form-control-feedback"></i>
        <?=form_error('username','<div class="text-red">', '</div>')?>
      </div>
      <div class="form-group has-feedback <?=form_error('password') ? 'has-error' : ''?>">
        <label><?=$this->lang->line('login_password')?></label> <span class="text-red">*</span>
        <input type="password" class="form-control" name="password" value="<?=set_value('password')?>">
        <i class="icofont-ui-password form-control-feedback"></i>
        <?=form_error('password','<div class="text-red">', '</div>')?>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a href="<?=base_url('forgot')?>">I forgot my password</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat"><?=$this->lang->line('login_sign_in')?></button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div><br>
    <?php if($this->session->flashdata('success')){?>
    <div class="alert alert-info" role="alert">
        <?=$this->session->flashdata('success');?>
    </div>
  <?php } ?>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

<!-- jQuery 3 -->
<script src="<?=base_url('assets/bower_components/jquery/dist/jquery.min.js')?>"></script>
<!-- Bootstrap 3.3.7 -->
</body>
</html>
