
{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/portalweb.html" %}


{% block title %}
{{ _("Goyal Xchange | Dashboard") }}
{% endblock %}

{% block page_content %}
<script src="CustomerBills.js"></script>

<div class="page-content fade-in-up" style="min-height: 600px;">
    <div class="tborow" style="padding-top: 10px;">
        <div class="col-lg-12">
            <h4 class="my-1">{{ _("Customer Bills") }} </h4>
            <div class="cont_strip tbofullwidth"></div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-muted" style="margin: 12px;" id="lead-text">Select Start Date:</p>
                    <input type="date" oninput="show_datepicker_2()" name="open-date"
                        id="open-date" class="form-control mt-3 col-md m-3">
                </div>
                <div class="col-md-3">
                    <p class="text-muted" style="margin: 12px;" id="lead-text">Select End Date:</p>
                    <input type="date" oninput="show_next_button()" name="close-date"
                        id="close-date" class="form-control mt-3 col-md m-3">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary form-control" id="details-button" style="margin: 12px;margin-top: 44px;">{{ _("Get Details") }}</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}