

@media screen and (min-device-width: 768px) and (max-device-width: 1000px)
{

.recent-activity {
  width: 350px;
  margin-left: -30px;
}

.dasboard-page .tiles {
  width: 28%;
}
.main-tiles-area {
  width: 100%;
}
}
