{% extends "templates/goyalbase.html" %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
	<!-- breadcrumbs -->
	<div class="page-breadcrumbs">
		{% block breadcrumbs %}
			{% include 'templates/includes/breadcrumbs.html' %}
		{% endblock %}
	</div>

	{% block page_container %}
    <div class="content-wrapper">
	
	</div>

	<main class="{% if full_width %}tbofullwidth {% endif %}{% if not full_width %}container my-4{% endif %}">
		<div class="page_content">
			{%- block page_content -%}{%- endblock -%}
		</div>
	</main>
	{% endblock %}
{% endmacro %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{% macro sidebar() %}

<div class="main-sidebar tbo l3">
	{% block page_sidebar %}
	{% include "templates/includes/web_sidebar.html" %}
	{% endblock %}
</div>
{% endmacro %}

{% if show_sidebar %}
<div {{ container_attributes() }}>
<aside class="main-sidebar">
		{{ sidebar() }}
</aside>
<div class="cont_strip tbofullwidth"></div>

{{ main_content() }}

{% else %}
<div {{ container_attributes() }}>
<div class="cont_strip tbofullwidth"></div>

{{ main_content() }}

{% endif %}

{% endblock %}