{% extends "templates/goyalbase.html" %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
<!-- breadcrumbs -->
<div class="page-breadcrumbs">
	{% block breadcrumbs %}
		{% include 'templates/includes/breadcrumbs.html' %}
	{% endblock %}
</div>

{% block page_container %}
<div>
	{%- block page_content -%}{%- endblock -%}
</div>
{% endblock %}
{% endmacro %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{% macro sidebar() %}

<div class="sidebar">
	{% block page_sidebar %}
	{% include "templates/includes/web_sidebar.html" %}
	{% endblock %}
</div>
{% endmacro %}

{% if show_sidebar %}
<aside class="main-sidebar">
	{{ sidebar() }}
</aside>
<div class="content-wrapper" style="margin-left: 230px;" {{ container_attributes() }}>
	{{ main_content() }}
</div>
{% else %}
<div class="content-wrapper" {{ container_attributes() }}>
	{{ main_content() }}
</div>
{% endif %}

{% endblock %}