<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
    content="Fullscreen Background Image Slideshow with CSS3 - A Css-only fullscreen background image slideshow" />
    <meta name="keywords"
    content="css3, css-only, fullscreen, background, slideshow, images, content" />
    <meta name="author" content="Codrops" />
    <meta charset='utf-8'><meta content='width=device-width, initial-scale=1.0' name='viewport'>
    {% block meta_block %}
        {% include "templates/includes/meta_block.html" %}
    {% endblock %}

    <title>{% block title %}{{ title | striptags }}{% endblock %}</title>

    {% block favicon %}

    <link id='pageTitleLink' rel='icon' href='static/images/site-icons/dikotravels.com.png'></link>
    <link href='/assets/goyalapp/img/favicon.png' rel='icon'>
    <link href='/assets/goyalapp/img/apple-touch-icon.png' rel='apple-touch-icon'>

    <link
        rel="shortcut icon"
        href="{{ (favicon or "/assets/frappe/images/frappe-favicon.svg") | abs_url }}"
        type="image/x-icon"
    >
    {% endblock %}

    <link href='/assets/goyalapp/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/assets/goyalapp/lib/font-awesome/css/font-awesome.css' rel='stylesheet'>
    <link href='/assets/goyalapp/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/style.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/media-style.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/jquery-ui-112.css' rel='stylesheet'></link>
    
    <link href='/assets/goyalapp/css/responsive.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/common-font-icon.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/client-admin-common-style.css?ver=1.1' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/goyalapp.css' rel='stylesheet'></link>
    <link href='/assets/goyalapp/css/GAPI-ThemeSite.css' rel='stylesheet'></link>
    <link rel="stylesheet" type="text/css" href="/assets/goyalapp/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/assets/goyalapp/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/goyalapp/css/owl.transitions.css" />

    {%- block head_include %}
        {{ head_include or "" }}
    {% endblock -%}

    {%- block style %}
        {% if colocated_css -%}
            <style>{{ colocated_css }}</style>
        {%- endif %}
    {%- endblock -%}

    <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function(fn) {
            frappe.ready_events.push(fn);
        }
        window.dev_server = {{ dev_server }};
        window.socketio_port = {{ (frappe.socketio_port or 'null') }};
        window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>
</head>
<body class="home page-template-default page page-id-7 et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns5 et_header_style_left et_pb_pagebuilder_layout et_smooth_scroll et_right_sidebar et_divi_theme et-db et_minified_js et_minified_css esg-blurlistenerexists chrome" frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} >
    {% include "public/icons/timeless/icons.svg" %}
    {%- block banner -%}
        {% include "templates/includes/banner_extension.html" ignore missing %}

        {% if banner_html -%}
        {{ banner_html or "" }}
        {%- endif %}
    {%- endblock -%}

    {%- block navbar -%}
        {% include 'templates/includes/gonavbar/gonavbar.html' %}

    {%- endblock -%}

    {% block content %}
        {{ content }}
    {% endblock %}

    {%- block footer -%}
        {{ web_block(
            footer_template or 'Standard Footer',
            values=_context_dict,
            add_container=0,
            add_top_padding=0,
            add_bottom_padding=0
        ) }}
    {%- endblock -%}
    <a href="" class="scrollup" style="display: none;">Scroll</a>

    {% block base_scripts %}
    <!-- js should be loaded in body! -->
    <script>
        frappe.boot = {{ boot }}
        // for backward compatibility of some libs
        frappe.sys_defaults = frappe.boot.sysdefaults;
    </script>
    {{ include_script('frappe-web.bundle.js') }}
    {% endblock %}

    {%- for link in web_include_js %}
    {{ include_script(link) }}
    {%- endfor -%}

    {%- block script %}
        {% if colocated_js -%}
            <script>{{ colocated_js }}</script>
        {%- endif %}
    {%- endblock %}
    <!-- csrf_token -->
    {%- block body_include %}{{ body_include or "" }}{% endblock -%}
</body>


</html>