{% extends "templates/goyalweb.html" %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block header %}
	<h1>Sales Invoice</h1>
{% endblock %}

{% block page_content %}

SG TEST {{ doc }}
<style type="text/css">textarea{resize: none}</style>
<div class="content-wrapper">
  <section class="content-header">

		{% if doc._header %}
    		{{ doc._header }}
		{% endif %}


    <ol class="breadcrumb">
      <li><a href="<?=base_url('/')?>"><i class="fa fa-laptop"></i></a></li>
      <li class="active"><?=$this->lang->line('suppliers_suppliers')?></li>
    </ol>
  </section>

  <section class="content">
    <div class="box box-solid">
      <div class="box-header header-custom">
        <h5 class="box-title"><i class="fa fa-list"></i> <?=$this->lang->line('suppliers_list')?></h5>
        <div class="box-tools pull-right">
          <?=add_btn('suppliers_add',$this->lang->line('suppliers_add_suppliers'));?>
        </div>
      </div>
      <div class="box-body">
        <div id="hide-table">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><?=$this->lang->line('suppliers_code')?></th>
                <th><?=$this->lang->line('suppliers_name')?></th>
                <th><?=$this->lang->line('suppliers_mobile')?></th>
                <th><?=$this->lang->line('suppliers_email')?></th>
                <th><?=$this->lang->line('suppliers_tax_no')?></th>
                <th><?=$this->lang->line('suppliers_address')?></th>
                <th><?=$this->lang->line('suppliers_status')?></th>
                <th><?=$this->lang->line('suppliers_action')?></th>
              </tr>
            </thead>
            <tbody >
				{% for d in doc %}


              <tr>
                <td data-title="#"><?=$i?></td>
                <td data-title="<?=$this->lang->line('suppliers_code')?>">{{ d.customer }}</td>
                <td data-title="<?=$this->lang->line('suppliers_name')?>" class="text-capitalize"><?=$suppliers->suppliers_name?></td>
                <td data-title="<?=$this->lang->line('suppliers_mobile')?>"><?=$suppliers->suppliers_mobile?></td>
                <td data-title="<?=$this->lang->line('suppliers_email')?>"><?=$suppliers->suppliers_email?></td>
                <td data-title="<?=$this->lang->line('suppliers_tax_no')?>"><?=$suppliers->suppliers_tax_no?></td>
                <td data-title="<?=$this->lang->line('suppliers_address')?>"><?=$suppliers->suppliers_address?></td>
                <td data-title="<?=$this->lang->line('suppliers_status')?>">
                  <div class="onoffswitch-small" id="<?=$suppliers->suppliersID?>">
                    <input type="checkbox" id="myonoffswitch<?=$suppliers->suppliersID?>" class="onoffswitch-small-checkbox" name="suppliers_status" <?php if($suppliers->suppliers_status === '1') echo "checked='checked'"; ?> <?=permissionChecker('suppliers_status')?'':'disabled'?>>
                    <label for="myonoffswitch<?=$suppliers->suppliersID?>" class="onoffswitch-small-label">
                      <span class="onoffswitch-small-inner"></span>
                      <span class="onoffswitch-small-switch <?=permissionChecker('suppliers_status')?'':'hidden'?>"></span>
                    </label>
                  </div>
                </td>
                <td data-title="<?=$this->lang->line('suppliers_action')?>">
                  <?=edit_btn('suppliers_edit',$suppliers->suppliersID);?>&nbsp;
                  <?=delete_btn('suppliers_delete',$suppliers->suppliersID);?>
                </td>
              </tr>
				{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="modal fade" id="insert" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-user-plus"></i></span>&nbsp;<?=$this->lang->line('suppliers_suppliers')?></h4>
      </div>
      <div class="modal-body">
        <div class="form-group error-name">
          <input type="hidden" class="form-control" name="supplier_code" id="supplier_code" value="<?=settings()->supplier;suppliercode();?>" readonly/>
          <label><?=$this->lang->line('suppliers_name')?> <span class='text-danger'>*</span></label>
          <input type="text" class="form-control" name="suppliers_name" id="suppliers_name" placeholder="<?=$this->lang->line('suppliers_name')?>"/>
          <span class="text-red" id="error_suppliers_name"></span>
        </div>
        <div class="form-group error-mobile">
          <label><?=$this->lang->line('suppliers_mobile')?> <span class='text-danger'>*</span></label>
          <input type="text" name='suppliers_mobile' id="suppliers_mobile" class="form-control only_number  " placeholder="<?=$this->lang->line('suppliers_mobile')?>"/>
          <span class="text-red" id="error_suppliers_mobile"></span>
        </div>
        <div class="form-group error-email">
          <label><?=$this->lang->line('suppliers_email')?></label>
          <input type="text" name='suppliers_email' id="suppliers_email" class="form-control" placeholder="<?=$this->lang->line('suppliers_email')?>"/>
          <span class="text-red" id="error_suppliers_email"></span>
        </div>
        <div class="form-group">
          <label><?=$this->lang->line('suppliers_tax_no')?></label>
          <input type="text" name='suppliers_tax_no' id="suppliers_tax_no" class="form-control" placeholder="<?=$this->lang->line('suppliers_tax_no')?>"/>
        </div>
        <div class="form-group">
          <label><?=$this->lang->line('suppliers_address')?></label>
          <textarea type="text" class="form-control" id="suppliers_address" placeholder="<?=$this->lang->line('suppliers_address')?>"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default insert">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-edit"></i></span>&nbsp;<?=$this->lang->line('suppliers_update')?></h4>
      </div>
      <div class="modal-body">
        <div class="">
          <input type="hidden" class="form-control" name="suppliersID" id="suppliersID" readonly/>
          <div class="form-group error-name-up">
            <label><?=$this->lang->line('suppliers_name')?> <span class='text-danger'>*</span></label>
            <input type="text" class="form-control" name="suppliers_name" id="suppliers_name_up" placeholder="<?=$this->lang->line('suppliers_name')?>"/>
            <span class="text-red" id="error_suppliers_name_up"></span>
          </div>
          <div class="form-group error-mobile-up">
            <label><?=$this->lang->line('suppliers_mobile')?> <span class='text-danger'>*</span></label>
            <input type="text" name='suppliers_mobile' id="suppliers_mobile_up" class="form-control only_number" placeholder="<?=$this->lang->line('suppliers_mobile')?>"/>
            <span class="text-red" id="error_suppliers_mobile_up"></span>
          </div>
          <div class="form-group error-email-up">
            <label><?=$this->lang->line('suppliers_email')?></label>
            <input type="text" name='suppliers_email' id="suppliers_email_up" class="form-control" placeholder="<?=$this->lang->line('suppliers_email')?>"/>
            <span class="text-red" id="error_suppliers_email_up"></span>
          </div>
          <div class="form-group">
            <label><?=$this->lang->line('suppliers_tax_no')?></label>
            <input type="text" name='suppliers_tax_no' id="suppliers_tax_no_up" class="form-control" placeholder="<?=$this->lang->line('suppliers_tax_no')?>"/>
          </div>
          <div class="form-group">
            <label><?=$this->lang->line('suppliers_address')?></label>
            <textarea type="text" class="form-control" id="suppliers_address_up" placeholder="<?=$this->lang->line('suppliers_address')?>"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info updated"><?=$this->lang->line('suppliers_update')?></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
